.content-slider-block {
  width: 1235px;
  position: relative;
}
.content-slider-block .content-slider {
  position: relative;
  width: inherit;
  overflow: hidden;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper {
  width: 44px;
  height: 250px;
  display: inline-block;
  position: absolute;
  background: #fff;
  top: 0;
  z-index: 4;
  float: left;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper.right {
  right: 0;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper.right .content-slider-arrow {
  background-position: -24px -136px;
  right: 0;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper.left {
  left: 0;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper.left .content-slider-arrow {
  background-position: 0 -136px;
  left: 0;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper .content-slider-arrow {
  width: 24px;
  height: 44px;
  background-image: url("/images/sprite.png");
  display: inline-block;
  position: absolute;
  top: 112px;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper .content-slider-arrow.opacity {
  opacity: .6;
}
.content-slider-block .content-slider .content-slider-arrow-wrapper .content-slider-arrow:hover {
  cursor: pointer;
  opacity: 1;
}
.content-slider-block .content-slider .content-slider-wrapper {
  display: inline-block;
  height: 248px;
  margin-left: 44px;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide {
  width: 1147px;
  height: inherit;
  display: inline-block;
  float: left;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item {
  width: 261px;
  height: 240px;
  display: inline-block;
  vertical-align: top;
  margin-right: 31px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item:last-of-type {
  margin-right: 0;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-title {
  font-size: 18px;
  font-weight: 700;
  color: #ffb432;
  margin-left: 10px;
  margin-bottom: 13px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body {
  position: relative;
  width: inherit;
  height: 211px;
  overflow: hidden;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 1;
  transform: translateY(-160px);
  -webkit-transform: translateY(-160px);
  -moz-transform: translateY(-160px);
  -o-transform: translateY(-160px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main {
  position: absolute;
  width: inherit;
  height: 172px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  font-family: "Clear Sans Thin";
  box-sizing: border-box;
  padding: 18px 11px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-text {
  font-size: 13px;
  color: #d4d3d3;
  margin-bottom: 13px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item {
  margin: 10px 0 10px 0;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item .content-slider-wrapper-slide-item-body-info-main-item__icon,
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item .content-slider-wrapper-slide-item-body-info-main-item__text {
  display: inline-block;
  vertical-align: top;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item .content-slider-wrapper-slide-item-body-info-main-item__icon {
  width: 22px;
  height: 22px;
  background: url("/images/sprite.png");
  text-align: center;
  margin-right: 13px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item .content-slider-wrapper-slide-item-body-info-main-item__text {
  font-family: "Clear Sans Thin";
  font-size: 15px;
  color: #fff;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item.time .content-slider-wrapper-slide-item-body-info-main-item__icon {
  background-position: -24px 0px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item.price .content-slider-wrapper-slide-item-body-info-main-item__icon {
  background-position: -46px 0;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-main .content-slider-wrapper-slide-item-body-info-main-item.location .content-slider-wrapper-slide-item-body-info-main-item__icon {
  width: 16px;
  background-position: -68px 0;
  margin: 0 16px 0 3px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-percent {
  position: absolute;
  width: 89px;
  height: 46px;
  bottom: -7px;
  left: 86px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-info .content-slider-wrapper-slide-item-body-info-percent span {
  font-size: 16px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body img {
  position: absolute;
  width: 100%;
  height: 172px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-bottom {
  position: absolute;
  width: inherit;
  height: 39px;
  bottom: 0;
  z-index: 2;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-bottom .content-slider-wrapper-slide-item-body-bottom-price {
  width: 199px;
  height: inherit;
  background: #25c4ff;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  padding-left: 18px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-bottom .content-slider-wrapper-slide-item-body-bottom-price .content-slider-wrapper-slide-item-body-bottom-price__from {
  font-family: "Clear Sans Regular";
  font-size: 18px;
  color: #fff;
  margin-top: 2px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-bottom .content-slider-wrapper-slide-item-body-bottom-price .content-slider-wrapper-slide-item-body-bottom-price__to {
  font-family: "Clear Sans Light";
  font-size: 12px;
  color: #006f98;
  margin-top: -4px;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-bottom .content-slider-wrapper-slide-item-body-bottom-link {
  width: 62px;
  height: inherit;
  background: #ffb432;
  display: inline-block;
  position: relative;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-bottom .content-slider-wrapper-slide-item-body-bottom-link:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 23px;
  width: 23px;
  height: 25px;
  background-image: url("/images/sprite.png");
  background-position: -48px -136px;
  z-index: 1;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body .content-slider-wrapper-slide-item-body-bottom .content-slider-wrapper-slide-item-body-bottom-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 39px solid #ffc053;
  border-left: 49px solid transparent;
  z-index: 0;
}
.content-slider-block .content-slider .content-slider-wrapper .content-slider-wrapper-slide .content-slider-wrapper-slide-item .content-slider-wrapper-slide-item-body:hover .content-slider-wrapper-slide-item-body-info {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
.content-slider-block .content-slider .content-slider-dots {
  text-align: center;
  line-height: 15px;
  margin-top: 15px;
}
.content-slider-block .content-slider .content-slider-dots .content-slider-dots-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #dadada;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.content-slider-block .content-slider .content-slider-dots .content-slider-dots-dot.active {
  width: 15px;
  height: 15px;
  background: #ffb432;
}
.content-slider-block .content-slider .content-slider-dots .content-slider-dots-dot:hover {
  cursor: pointer;
}
header .header-content,
footer .footer-content,
.content {
  width: 1147px;
  margin: 0 auto;
  position: relative;
}
.content {
  min-height: 100%;
  margin-bottom: -79px;
}
.content:after {
  content: "";
  display: block;
}
.content .content-categories {
  margin-top: 90px;
}
.content .content-categories .content-categories-all {
  position: relative;
  margin-top: 40px;
}
.content .content-categories .content-categories-all hr {
  position: absolute;
  width: 100%;
  height: 1px;
  border: 0;
  background: #ededed;
}
.content .content-categories .content-categories-all .content-categories-all-text {
  position: absolute;
  top: -12px;
  left: 90px;
  background: #fff;
  padding: 0 20px;
  z-index: 1;
}
.content .content-categories .content-categories-all .content-categories-all-text a {
  font-family: "Clear Sans Light";
  font-style: italic;
  font-size: 16px;
  color: #bebebe;
  text-decoration: none;
}
.content .content-categories .content-categories-all .content-categories-all-text a:hover {
  text-decoration: none;
}
.content .content-news {
  margin: 45px 0 0 0;
}
.content .content-news .content-news-title {
  text-align: center;
  position: relative;
}
.content .content-news .content-news-title .content-news-title-text {
  font-weight: 700;
  font-size: 18px;
  color: #535e62;
  padding: 0 8px;
  position: relative;
  display: inline-block;
  z-index: 1;
  background: #fff;
}
.content .content-news .content-news-title hr {
  position: absolute;
  width: 100%;
  height: 1px;
  border: 0;
  background: #e2e2e2;
  top: 12px;
}
.content .content-news .content-news-wrapper {
  margin-top: 20px;
}
.content .content-news .content-news-wrapper article {
  width: inherit;
  height: 115px;
  border-bottom: 1px solid #d9e0e3;
}
.content .content-news .content-news-wrapper article img {
  width: 164px;
  height: 115px;
  float: left;
  margin-right: 18px;
}
.content .content-news .content-news-wrapper article .content-news-wrapper-article-right {
  padding-top: 30px;
}
.content .content-news .content-news-wrapper article .content-news-wrapper-article-right .content-news-wrapper-article-right__title {
  margin-bottom: 10px;
}
.content .content-news .content-news-wrapper article .content-news-wrapper-article-right .content-news-wrapper-article-right__title a {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: bold;
  color: #232222;
  text-decoration: none;
}
.content .content-news .content-news-wrapper article .content-news-wrapper-article-right .content-news-wrapper-article-right__text {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #787777;
}
.content .content-slider {
  margin-top: 105px;
}
@media screen and (max-width: 1240px) {
  header .header-content,
  footer .footer-content,
  .content {
    width: 850px;
  }
  header .header-content .header-content-search {
    width: 850px;
  }
  header .header-content .header-content-search .header-content-search-input {
    width: 850px;
  }
  header .header-content .header-content-search .header-content-search-input .header-content-search-input-text {
    width: 690px;
  }
  header .header-content .header-content-toggles .header-content-toggles-toggle {
    margin: 0 46px 0 0;
  }
  header .header-content .header-content-toggles .header-content-toggles-toggle:last-of-type {
    margin-right: 0;
  }
  .content .content-categories .content-categories-category {
    width: 220px;
    max-width: 220px;
    margin-right: 25px;
  }
  .content .content-categories .content-categories-category .content-categories-category-subcategory .content-categories-category-subcategory-title {
    max-width: 200px;
  }
  .content .content-slider-block {
    width: 970px;
    left: -60px;
  }
  .content .content-slider-block .content-slider {
    margin: 0 auto;
    margin-top: 105px;
    width: 938px;
    left: 65px;
  }
  .content .content-news .content-news-wrapper article .content-news-wrapper-article-right {
    padding-top: 20px;
  }
}
