@import "../global_enum";
@import "../functions";
@import "slider";

header .header-content,
footer .footer-content,
.content {
  width: @content-width;
  margin: 0 auto;
  position: relative;
}

.content {
  min-height: 100%;
  margin-bottom: -@footer-height;

  &:after {
    content: "";
    display: block;
  }

  .content-categories {
    margin-top: 90px;

    .content-categories-all {
      position: relative;
      margin-top: 40px;

      hr {
        position: absolute;
        width: 100%;
        height: 1px;
        border: 0;
        background: #ededed;
      }

      .content-categories-all-text {
        position: absolute;
        top: -12px;
        left: 90px;
        background: #fff;
        padding: 0 20px;
        z-index: 1;

        a {
          font-family: "Clear Sans Light";
          font-style: italic;
          font-size: 16px;
          color: #bebebe;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .content-news {
    margin: 45px 0 0 0;

    .content-news-title {
      text-align: center;
      position: relative;

      .content-news-title-text {
        font-weight: 700;
        font-size: 18px;
        color: #535e62;
        padding: 0 8px;
        position: relative;
        display: inline-block;
        z-index: 1;
        background: #fff;
      }

      hr {
        position: absolute;
        width: 100%;
        height: 1px;
        border: 0;
        background: #e2e2e2;
        top: 12px;
      }
    }

    .content-news-wrapper {
      margin-top: 20px;

      article {
        width: inherit;
        height: 115px;
        border-bottom: 1px solid #d9e0e3;

        img {
          width: 164px;
          height: 115px;
          float: left;
          margin-right: 18px;
        }

        .content-news-wrapper-article-right {
          padding-top: 30px;

          .content-news-wrapper-article-right__title {
            margin-bottom: 10px;

            a {
              font-family: 'Open Sans';
              font-size: 15px;
              font-weight: bold;
              color: #232222;
              text-decoration: none;
            }
          }

          .content-news-wrapper-article-right__text {
            font-family: 'Open Sans';
            font-size: 14px;
            color: #787777;
          }
        }
      }
    }
  }

  .content-slider {
    margin-top: 105px;
  }
}

@import "ipad";