@ipad_width: 850px;

@media screen and (max-width: 1240px) {
  header .header-content,
  footer .footer-content,
  .content {
    width: @ipad_width;
  }

  header .header-content {

    .header-content-search {
      width: 850px;

      .header-content-search-input {
        width: 850px;

        .header-content-search-input-text {
          width: 690px;
        }
      }
    }

    .header-content-toggles {

      .header-content-toggles-toggle {
        margin: 0 46px 0 0;

        &:last-of-type {margin-right: 0;}
      }
    }
  }

  .content {

    .content-categories {

      .content-categories-category {
        width: 220px;
        max-width: 220px;
        margin-right: 25px;

        .content-categories-category-subcategory {

          .content-categories-category-subcategory-title {
            max-width: 200px;
          }
        }
      }
    }

    .content-slider-block {
      width: 970px;
      left: -60px;

      .content-slider {
        margin: 0 auto;
        margin-top: 105px;
        width: 938px;
        left: 65px;
      }
    }

    .content-news {

      .content-news-wrapper {

        article {
          .content-news-wrapper-article-right {
            padding-top: 20px;
          }
        }
      }
    }
  }
}