.button-edit {
  width: 75px;
  height: 32px;
  background: #fc8528;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.button-edit[type="submit"] {
  padding-top: 0;
}
.button-edit:hover {
  cursor: pointer;
}
.button-save {
  width: 75px;
  height: 32px;
  background: #0FBA25;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.button-save[type="submit"] {
  padding-top: 0;
}
.button-save:hover {
  cursor: pointer;
}
.button-delete {
  width: 75px;
  height: 32px;
  background: #ba0005;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.button-delete[type="submit"] {
  padding-top: 0;
}
.button-delete:hover {
  cursor: pointer;
}
.button-ref {
  width: 75px;
  height: 32px;
  background: #2ec1ff;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.button-ref[type="submit"] {
  padding-top: 0;
}
.button-ref:hover {
  cursor: pointer;
}
.button-update {
  padding: 6px;
  background: #945204;
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.button-update[type="submit"] {
  padding-top: 0;
}
.button-update:hover {
  cursor: pointer;
}
