.transition(@time, @type) {
  transition: @time @type;
  -webkit-transition: @time @type;
  -moz-transition: @time @type;
  -o-transition: @time @type;
}

.transition-opacity(@name, @time, @type) {
  transition: @name @time @type;
  -webkit-transition: @name @time @type;
  -moz-transition: @name @time @type;
  -o-transition: @name @time @type;
}

.translateX(@px) {
  transform: translateX(@px);
  -webkit-transform: translateX(@px);
  -moz-transform: translateX(@px);
  -o-transform: translateX(@px);
}

.translateY(@px) {
  transform: translateY(@px);
  -webkit-transform: translateY(@px);
  -moz-transform: translateY(@px);
  -o-transform: translateY(@px);
}

.scale(@x, @y) {
  transform: scale(@x, @y);
  -webkit-transform: scale(@x, @y);
  -moz-transform: scale(@x, @y);
  -o-transform: scale(@x, @y);
}