@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,cyrillic-ext);
@import "global_enum";
@import "functions";

* {
  font-family: "Open Sans Condensed";
  outline: none;
}

body {
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  width: 100%;
  height: @header-height;
  background-image: url("/images/header_gradient.png");
  background-position: center;
  background-size: 100% 100%;
  border-bottom: 5px solid #dddddd;
  position: relative;

  .header-parallax__shadow {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 0;
  }

  .header-parallax__cloud {
    width: inherit;
    height: inherit;
    background-image: url("/images/header_clouds.png");
    background-position: center;
    background-size: auto 100%;
    opacity: 0.2;
    position: absolute;
    z-index: 0;
  }

  .header-content {
    position: relative;

    .header-content-signup {
      position: absolute;
      right: 0;
      top: 12px;

      .text, .icon {
        display: inline-block;
      }

      .icon {
        background-image: @sprite;
        height: 19px;
      }

      .text {
        font-family: "Open Sans";
        font-size: 14px;
        color: #ff7f21;
        border-bottom: 1px dashed #ff7f21;
        margin-right: 5px;
      }

      .header-content-signup-login,
      .header-content-signup-reg {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;

        &:hover {
          cursor: pointer;

          .text {
            border-bottom: 0;
          }
        }
      }

      .header-content-signup-login {
        &.icon {
          width: 17px;
          background-position: -84px 0px;
          margin-right: 18px;
        }
      }

      .header-content-signup-reg {
        &.icon {
          width: 11px;
          background-position: -101px 0px;
        }
      }
    }

    .header-content-title {
      font-weight: 700;
      font-size: 33px;
      text-align: center;
      line-height: 25px;
      padding-top: 71px;

      a {
        text-decoration: none;
      }

      div {
        display: inline-block;
      }

      .header-content-title__white {
        color: #f8f8f8;
        margin-right: 8px;
      }

      .header-content-title__black {
        color: #373737;
      }
    }

    .header-content-search {
      width: 1021px;
      margin: 0 auto;
      padding-top: 30px;

      .header-content-search-input {
        width: inherit;
        height: 46px;

        .header-content-search-input-submit {
          width: 158px;
          height: inherit;
          display: inline-block;
          position: relative;

          .header-content-search-input-submit__button {
            width: 142px;
            height: 46px;
            background: #2ec1ff;
            color: #f8f8f8;
            border: 0;
            font-size: 21px;
            font-weight: 700;
            float: left;
            padding-left: 18px;
            border-radius: 0;

            & + label {
              &:before {
                content: '';
                position: absolute;
                top: 13px;
                left: 18px;
                width: 22px;
                height: 22px;
                background-image: @sprite;
              }

              &:after {
                content: '';
                position: absolute;
                border-color: transparent transparent transparent #2ec1ff;
                border-style: solid;
                border-width: 23px 0px 23px 16px;
                height: 0px;
                width: 0px;
                display: inline-block;
                margin-left: -1px;
              }
            }
          }

          &:hover {
            cursor: help;
          }
        }

        .header-content-search-input-text {
          width: 860px;
          height: 46px;
          box-sizing: border-box;
          padding: 8px 20px;
          border: 3px solid #f0f0f0;
          border-right: 0;
          float: left;
          font-size: 19px;
          font-family: "Clear Sans Thin";
        }
      }

      .header-content-search-checkbox {
        margin-top: 19px;

        label {
          font-size: 16px;
          color: #282828;

          &:first-of-type {
            margin-right: 33px;
          }
        }
      }
    }

    .header-content-toggles {
      margin-top: 28px;
      text-align: center;

      .header-content-toggles-toggle {
        width: 100px;
        height: 80px;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        text-align: center;
        margin: 0px 27px;
        position: relative;

        .header-content-toggles-toggle-icon__t {
          width: 57px;
          height: 57px;
          background-image: @sprite;
          background-repeat: no-repeat;
          margin: 0 auto;
          position: absolute;
          left: 22px;
          opacity: 0;
          .transition-opacity(opacity, .3s, ease-in-out);
        }

        .header-content-toggles-toggle-icon {
          width: 57px;
          height: 57px;
          background-image: @sprite;
          background-repeat: no-repeat;
          margin: 0 auto;
          opacity: 1;
          .transition-opacity(opacity, .3s, ease-in-out);
        }

        .header-content-toggles-toggle-text {
          font-size: 14.95px;
          color: #f6f8ef;
          margin-top: 5px;
        }

        &:nth-of-type(1) {
          .header-content-toggles-toggle-icon {
            background-position: 0 -22px;
          }

          .header-content-toggles-toggle-icon__t {
            background-position: 0 -79px;
          }

          &:hover, &.active {
            .header-content-toggles-toggle-icon {opacity: 0;}
            .header-content-toggles-toggle-icon__t {opacity: 1;}
          }
        }

        &:nth-of-type(2) {
          .header-content-toggles-toggle-icon {
            background-position: -57px -22px;
          }

          .header-content-toggles-toggle-icon__t {
            background-position: -57px -79px;
          }

          &:hover, &.active {
            .header-content-toggles-toggle-icon {opacity: 0;}
            .header-content-toggles-toggle-icon__t {opacity: 1;}
          }
        }

        &:nth-of-type(3) {
          .header-content-toggles-toggle-icon {
            background-position: -114px -22px;
          }

          .header-content-toggles-toggle-icon__t {
            background-position: -114px -79px;
          }

          &:hover, &.active {
            .header-content-toggles-toggle-icon {opacity: 0;}
            .header-content-toggles-toggle-icon__t {opacity: 1;}
          }
        }

        &:nth-of-type(4) {
          .header-content-toggles-toggle-icon {
            background-position: -171px -22px;
          }

          .header-content-toggles-toggle-icon__t {
            background-position: -171px -79px;
          }

          &:hover, &.active {
            .header-content-toggles-toggle-icon {opacity: 0;}
            .header-content-toggles-toggle-icon__t {opacity: 1;}
          }
        }

        &:nth-of-type(5) {
          .header-content-toggles-toggle-icon {
            background-position: -228px -22px;
          }

          .header-content-toggles-toggle-icon__t {
            background-position: -228px -79px;
          }

          &:hover, &.active {
            .header-content-toggles-toggle-icon {opacity: 0;}
            .header-content-toggles-toggle-icon__t {opacity: 1;}
          }
        }

        &:nth-of-type(6) {
          .header-content-toggles-toggle-icon {
            background-position: -285px -22px;
          }

          .header-content-toggles-toggle-icon__t {
            background-position: -285px -79px;
          }

          &:hover, &.active {
            .header-content-toggles-toggle-icon {opacity: 0;}
            .header-content-toggles-toggle-icon__t {opacity: 1;}
          }
        }

        &.menu {
          position: static;
          height: 45px;
        }
      }
    }
  }

  .header-under_menu {
    position: absolute;
    bottom: -61px;
    width: 100%;
    height: 76px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    .transition(.2s, ease);
    &.active {opacity: 1;visibility: visible;}

    .header-under_menu-triangle {
      width: @content-width;
      height: 15px;
      margin: 0 auto;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 15px solid #4d4d4d;
        top: 0;
        left: 100px;
      }
    }

    .header-under_menu-back {
      width: inherit;
      height: 55px;
      padding-bottom: 6px;
      background: #4d4d4d;
      position: absolute;
      bottom: 0;
      text-align: center;

      .header-under_menu-panel {
        width: @content-width;
        margin: 0 auto;

        .header-under_menu-wrapper {
          width: 100%;
          position: relative;
          display: inline-block;
          text-align: left;
          overflow: auto;
          height: 55px;

          .header-under_menu-content {
            width: 1710px;
            position: relative;
            height: inherit;
            .transition(.5s, ease);
            .translateX(0);

            .header-under_menu-content-item {
              display: inline-block;
              height: 100%;
              padding: 15px;
              box-sizing: border-box;

              a {
                font-weight: bold;
                font-size: 14px;
                color: #fff;
                text-decoration: none;
              }

              &:hover {
                background: #fff;

                a {
                  color: #4d4d4d;
                }
              }
            }
          }
        }
      }

//      .header-under_menu-toggle {
//        width: 20px;
//        height: inherit;
//        background: #fff;
//        display: inline-block;
//        vertical-align: top;
//        box-sizing: border-box;
//        position: relative;
//        cursor: pointer;
//        right: 0;
//
//        &:before {
//          content: "";
//          position: absolute;
//          width: 11px;
//          height: 17px;
//          top: 17px;
//          left: 6px;
//          background: @sprite -287px 0;
//        }
//      }
    }

    &.slide {

      .header-under_menu-back {
        .header-under_menu-wrapper {
          .header-under_menu-content {
            .translateX(-675px);
          }
        }
      }

      .header-under_menu-toggle {
        .scale(-1, 1);
      }
    }
  }

  &.short {
    height: 198px;

    .header-content {

      .header-content-title {
        font-size: 25px;
        padding-top: 15px;
      }

      .header-content-search {
        width: 823px;

        .header-content-search-input {
          height: 36px;

          .header-content-search-input-text {
            width: 698px;
            height: 36px;
            padding: 4px 10px;
          }

          .header-content-search-input-submit {
            width: 125px;

            .header-content-search-input-submit__button {
              width: 113px;
              height: 36px;
              font-size: 17px;
            }

            label {
              &:after {
                border-width: 18px 0 18px 13px;
                margin: 0;
              }

              &:before {
                top: 9px;
                left: 14px;
              }
            }
          }
        }

        .header-content-search-checkbox {
          margin-top: 10px;
        }
      }

      .header-content-toggles {
        margin-top: 15px;

        .header-content-toggles-toggle {
          height: auto;

          &.menu {
            height: 45px;
          }
        }
      }
    }
  }
}

.checkbox {
  &:not(checked) {
    position: absolute;
    opacity: 0;
  }

  &:not(checked) + label {
    position: relative;
    padding: 0 0 0 22px;

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 14px;
      height: 14px;
      background: #fff;
      border: 1px solid #a1a1a1;
    }

    &:after {
      content: "\2713";
      position: absolute;
      width: 0;
      height: 0;
      background: #000;
      display: none;
      top: 0;
      left: 2px;
    }
  }

  &:checked + label {
    &:after {
      display: block;
    }
  }

  &.checked + label {
    &:after {
      display: block;
    }
  }
}

.content {
  display: table;
  margin: 0 auto;

  .content-categories {
    text-align: center;

    .content-categories-category {
      width: 262px;
      max-width: 262px;
      font-size: 18px;
      display: inline-block;
      vertical-align: top;
      margin: 0 29px 40px 0;
      &:nth-of-type(4n) {margin-right: 0;}

      .content-categories-category-title {
        text-align: left;
        margin-bottom: 5px;
        max-width: 230px;

        a {
          font-weight: 700;
          color: #252525;
          text-decoration: none;
        }
      }

      .content-categories-category-subcategory {
        font-weight: 300;
        text-align: left;

        .content-categories-category-subcategory-title,
        .content-categories-category-subcategory-count {
          display: inline-block;
        }

        .content-categories-category-subcategory-title {
          max-width: 230px;

          a {
            color: #0f9cff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .content-categories-category-subcategory-count {
          color: #8c8c8c;
          float: right;
        }
      }
    }
  }

  .form-group {

    .field__error {
      font-family: "Open Sans";
      font-size: 14px;
      color: #f00;
      margin-left: 9px;
      display: inline-block;
      vertical-align: top;
      float: right;
    }

    &.has-error {
      input {
        border: 1px solid #f00;
      }
    }
  }
}

span.star {
  color: #f00;
  margin-right: 9px;
  font-weight: bold;
}

.select {
  width: 240px;
  height: 30px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #e3e2e2;
  background: url('/images/select_back.png') no-repeat right;
  position: relative;

  select {
    background: transparent;
    width: 268px;
    padding: 5px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 30px;
    -webkit-appearance: none;
    font-size: 14px;
    color: #252525
  }

  &.small {
    width: 90px;
  }

  &.small-m {
    width: 130px;
  }

  &.medium {
    width: 150px;
  }
}

footer {
  width: 100%;
  height: @footer-height;
  background-image: url("/images/footer_gradient.png");
  background-position: center;
  background-size: auto 100%;


  .footer-content {
    position: relative;

    div {
      font-family: "Open Sans";
      color: #fff;
      position: absolute;
    }

    .footer-content-left {
      font-size: 17px;
      left: 0;
      top: 32px;
    }

    .footer-content-right {
      right: 0;
      top: 20px;
      width: 171px;

      .footer-content-right-text {
        font-size: 14px;
        top: 8px;
      }

      .footer-content-right-logo {
        width: 42px;
        height: 42px;
        background-image: @sprite;
        background-position: -71px -136px;
        right: 0;
      }
    }
  }
}

footer, .content:after {
  height: @footer-height;
}