@import "functions";
@import "global_enum";

body {

  &.modaled {
    position: fixed;
  }
}

.modal {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 666;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 0;
  .transition(0.5s, ease);

  .modal-dialog {
    background: #fff;
    z-index: 667;
    position: relative;
    top: 50%;
    .translateY(-50%);
    display: inline-block;
    padding: 20px;

    .modal-close {
      background: @sprite 0 -222px;
      width: 29px;
      height: 29px;
      position: absolute;
      right: -40px;
      top: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &#maps {
    .modal-dialog {
      padding: 0;
    }
  }

  &#photo {

    .modal-dialog {
      padding: 0;
      height: 80%;
      max-height: 80%;
    }

    .modal-arrow {
      background-image: @sprite;
      width: 36px;
      height: 64px;
      position: absolute;
      top: 50%;
      .translateY(-50%);
      cursor: pointer;

      &.right {
        background-position: 0 -251px;
        right: -50px;
      }

      &.left {
        background-position: -35px -251px;
        left: -50px;
      }
    }

    .modal-image {
      height: 100%;

      img {
        height: 100%;
      }
    }
  }
}