body.modaled {
  position: fixed;
}
.modal {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 666;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.modal .modal-dialog {
  background: #fff;
  z-index: 667;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: inline-block;
  padding: 20px;
}
.modal .modal-dialog .modal-close {
  background: url("/images/sprite.png") 0 -222px;
  width: 29px;
  height: 29px;
  position: absolute;
  right: -40px;
  top: 0;
}
.modal .modal-dialog .modal-close:hover {
  cursor: pointer;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal#maps .modal-dialog {
  padding: 0;
}
.modal#photo .modal-dialog {
  padding: 0;
  height: 80%;
  max-height: 80%;
}
.modal#photo .modal-arrow {
  background-image: url("/images/sprite.png");
  width: 36px;
  height: 64px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}
.modal#photo .modal-arrow.right {
  background-position: 0 -251px;
  right: -50px;
}
.modal#photo .modal-arrow.left {
  background-position: -35px -251px;
  left: -50px;
}
.modal#photo .modal-image {
  height: 100%;
}
.modal#photo .modal-image img {
  height: 100%;
}
