.signup {
  width: 598px;
  height: 473px;
  box-sizing: border-box;
  position: relative;
}
.signup .signup-title {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
}
.signup .signup-block {
  border: 1px solid #c6c6c6;
  width: inherit;
  height: 390px;
  box-sizing: inherit;
  position: absolute;
  bottom: 0;
}
.signup .signup-block .signup-block-tabs {
  width: 341px;
  position: absolute;
  top: -20px;
  left: 128px;
}
.signup .signup-block .signup-block-tabs .signup-block-tabs-tab {
  width: 160px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  background: #fff;
  font-size: 17px;
  font-weight: 700;
  color: #252525;
  padding-top: 6px;
  display: inline-block;
  text-decoration: none;
}
.signup .signup-block .signup-block-tabs .signup-block-tabs-tab:nth-of-type(1) {
  float: left;
  margin-right: 21px;
}
.signup .signup-block .signup-block-tabs .signup-block-tabs-tab.active,
.signup .signup-block .signup-block-tabs .signup-block-tabs-tab:hover {
  background: #2ec1ff;
  color: #fff;
  cursor: pointer;
}
.signup .signup-block .signup-block-content .signup-block-content-item {
  margin-top: 60px;
  display: none;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field {
  text-align: left;
  margin-bottom: 22px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field:nth-of-type(4) {
  margin-bottom: 38px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field label {
  font-size: 14px;
  font-weight: 700;
  color: #262424;
  width: 125px;
  min-width: 125px;
  display: inline-block;
  text-align: right;
  margin: 0 0 0 54px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field input {
  width: 222px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #cecece;
  font-family: "Open Sans";
  font-size: 14px;
  color: #939090;
  padding: 0 11px;
  -webkit-appearance: none;
  border-radius: 0;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field .signup-block-content-item-field__input-hint {
  width: 30px;
  height: 30px;
  background-color: #2ec1ff;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  position: relative;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field .signup-block-content-item-field__input-hint:after {
  content: "";
  position: absolute;
  background-image: url("/images/sprite.png");
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field:nth-of-type(1) .signup-block-content-item-field__input-hint:after {
  background-position: -113px 0;
  width: 16px;
  height: 17px;
  left: 6px;
  top: 6px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field:nth-of-type(2) .signup-block-content-item-field__input-hint:after {
  background-position: -129px 0;
  width: 15px;
  height: 16px;
  left: 8px;
  top: 6px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group .signup-block-content-item-field .signup-block-content-item-field__error {
  font-family: "Open Sans";
  font-size: 14px;
  color: #f00;
  margin-left: 9px;
  display: inline-block;
  max-width: 160px;
  vertical-align: top;
}
.signup .signup-block .signup-block-content .signup-block-content-item .form-group.has-error .signup-block-content-item-field input {
  border: 1px solid #f00;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-checkbox {
  margin: 0px 0 30px -78px;
  display: inline-block;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-checkbox label {
  font-family: "Open Sans";
  font-size: 12px;
  color: #9c9b9b;
  vertical-align: top;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-checkbox label:before {
  border: 1px solid #c6c6c6;
  top: 0;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-submit input {
  width: auto;
  height: 28px;
  padding: 0 12px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #2ec1ff;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-submit input:hover {
  cursor: pointer;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-submit input + label:after {
  content: '';
  position: absolute;
  border-color: transparent transparent transparent #2ec1ff;
  border-style: solid;
  border-width: 14px 0px 14px 11px;
  height: 0px;
  width: 0px;
  display: inline-block;
  cursor: pointer;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth {
  margin-top: 62px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-text,
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons {
  display: inline-block;
  vertical-align: middle;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-text {
  font-weight: 700;
  font-size: 15px;
  color: #262424;
  margin-right: 15px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons {
  height: 21px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon {
  background-image: url("/images/sprite.png");
  width: 22px;
  height: 21px;
  display: inline-block;
  margin-right: 3px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.vk {
  background-position: 0 -180px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.vk:hover {
  background-position: 0 -201px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.fb {
  background-position: -22px -180px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.fb:hover {
  background-position: -22px -201px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.tw {
  background-position: -46px -180px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.tw:hover {
  background-position: -46px -201px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.mail {
  background-position: -68px -180px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item-oauth .signup-block-content-item-oauth-icons .signup-block-content-item-oauth-icons-icon.mail:hover {
  background-position: -68px -201px;
}
.signup .signup-block .signup-block-content .signup-block-content-item .signup-block-content-item__info {
  font-family: "Open Sans";
  font-size: 12px;
  color: #9c9b9b;
  margin-top: 34px;
}
.signup .signup-block .signup-block-content .signup-block-content-item.active {
  display: block;
}
.signup .signup-block .signup-block-content .signup-block-content-item:nth-of-type(2) {
  margin-top: 95px;
}
.signup .signup-block .signup-block-content .signup-block-content-item:nth-of-type(2) .signup-block-content-item-field:nth-of-type(2) {
  margin-bottom: 0;
}
.signup .signup-block .signup-block-content .signup-block-content-item .star {
  color: #f00;
}
