@import "global_enum";

.signup {
  width: 598px;
  height: 473px;
  box-sizing: border-box;
  position: relative;

  .signup-title {
    font-size: 22px;
    font-weight: 700;
    color: #252525;
  }

  .signup-block {
    border: 1px solid #c6c6c6;
    width: inherit;
    height: 390px;
    box-sizing: inherit;
    position: absolute;
    bottom: 0;

    .signup-block-tabs {
      width: 341px;
      position: absolute;
      top: -20px;
      left: 128px;

      .signup-block-tabs-tab {
        width: 160px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #d6d6d6;
        background: #fff;
        font-size: 17px;
        font-weight: 700;
        color: #252525;
        padding-top: 6px;
        display: inline-block;
        text-decoration: none;

        &:nth-of-type(1) {
          float: left;
          margin-right: 21px;
        }

        &.active, &:hover {
          background: #2ec1ff;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .signup-block-content {
      .signup-block-content-item {
        margin-top: 60px;
        display: none;

        .form-group {
          .signup-block-content-item-field {
            text-align: left;
            margin-bottom: 22px;
            &:nth-of-type(4) {margin-bottom: 38px;}

            label {
              font-size: 14px;
              font-weight: 700;
              color: #262424;
              width: 125px;
              min-width: 125px;
              display: inline-block;
              text-align: right;
              margin: 0 0 0 54px;
            }

            input {
              width: 222px;
              height: 30px;
              box-sizing: border-box;
              border: 1px solid #cecece;
              font-family: "Open Sans";
              font-size: 14px;
              color: #939090;
              padding: 0 11px;
              -webkit-appearance: none;
              border-radius: 0;
            }

            .signup-block-content-item-field__input-hint {
              width: 30px;
              height: 30px;
              background-color: #2ec1ff;
              display: inline-block;
              vertical-align: top;
              margin-left: -4px;
              position: relative;

              &:after {
                content: "";
                position: absolute;
                background-image: @sprite;
              }
            }

            &:nth-of-type(1) .signup-block-content-item-field__input-hint:after {
              background-position: -113px 0;
              width: 16px;
              height: 17px;
              left: 6px;
              top: 6px;
            }

            &:nth-of-type(2) .signup-block-content-item-field__input-hint:after {
              background-position: -129px 0;
              width: 15px;
              height: 16px;
              left: 8px;
              top: 6px;
            }

            .signup-block-content-item-field__error {
              font-family: "Open Sans";
              font-size: 14px;
              color: #f00;
              margin-left: 9px;
              display: inline-block;
              max-width: 160px;
              vertical-align: top;
            }
          }

          &.has-error {
            .signup-block-content-item-field input {
              border: 1px solid #f00;
            }
          }
        }

        .signup-block-content-item-checkbox {
          margin: 0px 0 30px -78px;
          display: inline-block;

          label {
            font-family: "Open Sans";
            font-size: 12px;
            color: #9c9b9b;
            vertical-align: top;

            &:before {
              border: 1px solid #c6c6c6;
              top: 0;
            }
          }
        }

        .signup-block-content-item-submit {

          input {
            width: auto;
            height: 28px;
            padding: 0 12px;
            font-weight: 700;
            font-size: 14px;
            color: #fff;
            background: #2ec1ff;
            border: 0;
            border-radius: 0;
            -webkit-appearance: none;
            box-sizing: border-box;

            &:hover {
              cursor: pointer;
            }

            & + label {
              &:after {
                content: '';
                position: absolute;
                border-color: transparent transparent transparent #2ec1ff;
                border-style: solid;
                border-width: 14px 0px 14px 11px;
                height: 0px;
                width: 0px;
                display: inline-block;
                cursor: pointer;
              }
            }
          }
        }

        .signup-block-content-item-oauth {
          margin-top: 62px;

          .signup-block-content-item-oauth-text,
          .signup-block-content-item-oauth-icons {
            display: inline-block;
            vertical-align: middle;
          }

          .signup-block-content-item-oauth-text {
            font-weight: 700;
            font-size: 15px;
            color: #262424;
            margin-right: 15px;
          }

          .signup-block-content-item-oauth-icons {
            height: 21px;

            .signup-block-content-item-oauth-icons-icon {
              background-image: @sprite;
              width: 22px;
              height: 21px;
              display: inline-block;
              margin-right: 3px;

              &.vk {
                background-position: 0 -180px;
                &:hover {background-position: 0 -201px;}
              }

              &.fb {
                background-position: -22px -180px;
                &:hover {background-position: -22px -201px;}
              }

              &.tw {
                background-position: -46px -180px;
                &:hover {background-position: -46px -201px;}
              }

              &.mail {
                background-position: -68px -180px;
                &:hover {background-position: -68px -201px;}
              }
            }
          }
        }

        .signup-block-content-item__info {
          font-family: "Open Sans";
          font-size: 12px;
          color: #9c9b9b;
          margin-top: 34px;
        }

        &.active {
          display: block;
        }

        &:nth-of-type(2) {
          margin-top: 95px;

          .signup-block-content-item-field:nth-of-type(2) {
            margin-bottom: 0;
          }
        }

        .star {
          color: #f00;
        }
      }
    }
  }
}