@import "../global_enum";
@import "../functions";

.search-result {
  height: 35px;
  padding: 0 15px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #888888;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left:0 ;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 7px;
}

.show-types {
  width: 203px;
  height: 33px;
  background: #f8f8f8;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  border-radius: 3px;
  z-index: 2;

  * {
    font-family: "Open Sans";
  }

  .view-type {
    display: inline-block;
    vertical-align: top;

    .view-type-icon, .view-type-text {
      display: inline-block;
      vertical-align: bottom;
    }

    .view-type-icon {
      margin-right: 6px;

      .view-type-icon-item {
        background: #b5b5b5;
        margin: 0 1px 1px 0;
        float: left;
      }
    }

    .view-type-text {
      font-size: 14px;
      text-decoration: underline;
      color: #006ad8;
    }

    &.small {
      margin-right: 16px;

      .view-type-icon {
        width: 21px;
        height: 21px;

        .view-type-icon-item {
          width: 10px;
          height: 10px;
          display: inline-block;

          &:nth-of-type(2), &:nth-of-type(4) {
            margin-right: 0;
          }
        }
      }
    }

    &.list {
      .view-type-icon {
        width: 4px;
        height: 21px;

        .view-type-icon-item {
          width: 4px;
          height: 4px;
          display: block;
        }
      }
    }

    &.active, &:hover {
      cursor: pointer;

      .view-type-icon .view-type-icon-item {
        background: #2ec1ff;
      }

      .view-type-text {
        text-decoration: none;
      }
    }
  }
}

.companies-content {
  padding-top: 40px;

  .companies-block {
    display: inline-block;
    position: relative;
    width: 897px;
    margin-right: 15px;

    .list-view div[data-key] {
      display: inline-block;
      float: left;
      width: 100%;

      &:nth-of-type(2n) {
        .company-list {border-left: none;}
      }
    }

    .company-list {
      border-bottom: 1px solid #e4e6e8;
      padding-bottom: 15px;
      margin-bottom: 15px;

      .company-list-left {
        float: left;

        .company-list-left-image {
          width: 120px;
          height: 100px;
          border: 1px solid #e2e4e5;
          padding: 10px;
          text-align: center;
          overflow: hidden;
          border-radius: 5px;
          -webkit-box-shadow: 0px 8px 13px -9px rgba(50, 50, 50, 1);
          -moz-box-shadow: 0px 8px 13px -9px rgba(50, 50, 50, 1);
          box-shadow: 0px 8px 13px -9px rgba(50, 50, 50, 1);

          img {
            height: 100%;
          }
        }
      }

      .company-list-right {
        padding-left: 186px;

        .company-list-right-title {
          margin-bottom: 4px;

          a {
            font-size: 20px;
            font-weight: bold;
            color: #252525;
            text-decoration: none;
          }
        }

        .company-list-right-category {
          width: 273px;

          * {
            font-family: "Open Sans";
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
          }

          .company-list-right-category__title {
            color: #a5a5a5;
            margin-right: 2px;
          }

          .company-list-right-category__text {
            color: #006ad8;

            a {
              color: #006ad8;
            }
          }
        }

        .company-list-right-description {
          font-family: "Open Sans";
          font-weight: lighter;
          font-size: 14px;
          color: #4d4d4d;
          margin-bottom: 17px;
        }

        .company-list-right-phone__title,
        .company-list-right-phone__text,
        .company-list-right-address span,
        .company-list-right-time span
        {
          font-family: "Open Sans";
          font-size: 14px;
        }

        .company-list-right-phone {
          position: relative;

          .company-list-right-phone__title,
          .company-list-right-phone__text {
            font-family: "Open Sans";
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
          }

          .company-list-right-phone__title {
            margin: 0 3px 0 16px;
            color: #4d4d4d;
          }

          .company-list-right-phone__text {
            color: #111111;

            a {
              font-family: "Open Sans";
              color: #111;
              text-decoration: none;
            }
          }

          &:before {
            content: "";
            position: absolute;
            width: 11px;
            height: 11px;
            background: @sprite -143px 0;
            top: 3px;
          }
        }

        .company-list-right-address {
          width: 499px;
          text-decoration: underline;
          cursor: pointer;
          position: relative;
          float: left;
          margin-right: 90px;
          color: #128bbe;

          span {
            margin-left: 14px;
          }

          &:before {
            content: "";
            position: absolute;
            width: 9px;
            height: 11px;
            background: @sprite -154px 0;
            top: 6px;
          }

          &:hover {
            text-decoration: none;
          }
        }

        .company-list-right-time {
          color: #4d4d4d;
          position: relative;
          display: inline-block;

          &:before {
            content: "";
            position: absolute;
            width: 11px;
            height: 11px;
            background: @sprite -163px 0;
            top: 7px;
          }

          span {
            margin-left: 16px;
          }
        }
      }
    }

    &.small {
//      width: auto;
      margin-right: 15px;

      .list-view div[data-key] {
        width: auto;
      }

      .company-list {
        width: 448px;
        height: 172px;
        border: 1px solid #dbdbdb;
        padding: 14px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: -1px;

        .company-list-left {

          .company-list-left-image {
            padding: 0;
            border: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
          }
        }

        .company-list-right {
          padding-left: 159px;

          .company-list-right-description {
            height: 38px;
            overflow: hidden;
          }

          .company-list-right-address {
            margin-top: -5px;
            width: 260px;
          }

          .company-list-right-time {
            position: absolute;
            left: 14px;
            bottom: 30px;
          }
        }
      }
    }

    .pagination {
      display: inline-block;
      float: right;
      list-style: none;
      position: absolute;
      right: 0;
      bottom: -45px;

      li {
        display: inline-block;
        text-align: center;
        margin: 0 6px;

        &.active {
          position: relative;
          width: 25px;
          height: 25px;

          &:after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            background: #2ec1ff;
            border-radius: 3px;
            left: 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
          }

          a {
            color: #fff;
            position: relative;
            z-index: 1;
          }
        }

        &.next, &.prev {
          a, span {
            width: 14px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
            background-image: @sprite;
          }
        }

        &.next {
          a {background-position: -174px 0;}
          span {background-position:-202px 0;}
        }

        &.prev {
          a {background-position: -188px 0;}
          span {background-position: -216px 0;}
        }

        a {
          color: #575757;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
  }

  .filter-block {
    width: 235px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #e3e2e2;
    padding: 14px 18px;
    display: inline-block;
    vertical-align: top;

    .filter-block-title {
      font-size: 12px;
      font-weight: bold;
      color: #000;
    }

    .filter-block-body {
      margin: 16px 0 0 4px;

      .filter-block-body-checkbox {
        margin-bottom: 5px;

        input {

        }

        label {
          font-family: "Open Sans";
          font-size: 12px;
          color: #4d4d4d;
          padding: 3px 0 0 29px;
          width: 165px;
          max-width: 165px;
          display: inline-block;

          &:before {
            width: 16px;
            height: 16px;
          }

          &:after {
            top: 3px;
            left: 5px;
          }
        }
      }

      .filter-block-body-hidden {
        height: 0;
        overflow: hidden;
        .transition(.5s, ease)
      }

      .filter-block-body-more {
        display: inline-block;
        padding: 3px 9px 0 9px;
        width: auto;
        height: 28px;
        border: 1px solid #cbcbcb;
        border-radius: 3px;
        font-family: "Open Sans";
        font-size: 14px;
        color: #4d4d4d;
        box-sizing: border-box;
        cursor: pointer;
        margin: 20px 0 0 30px;
      }
    }
  }

  &.search {
    padding-top: 80px;

    .companies-block {
      width: 100%;

      .company-list {
        .company-list-right {
          .company-list-right-address {
            width: 749px;
          }
        }
      }

      &.small {
        width: 1068px;
        margin: 0 auto;
        display: block;

        .company-list {
          width: 514px;
          margin-right: 40px;
        }

        .list-view div[data-key]:nth-of-type(2n) {
          .company-list {
            border-left: 1px solid #dbdbdb;
            margin-right: 0;
          }
        }
      }
    }
  }
}

.company-view {
  padding: 0 22px;

  .company-view-top {
    position: relative;

    .company-view-title {
      font-size: 21px;
      font-weight: bold;
      color: #000;
      margin-bottom: 10px;
      display: inline-block;
    }

    .company-view-edit_date {
      display: inline-block;
      position: absolute;
      right: 0;

      .company-view-edit_date-text,
      .company-view-edit_date-num {
        display: inline-block;
        vertical-align: bottom;
      }

      .company-view-edit_date-text {
        font-size: 12px;
        font-weight: bold;
        color: #9a9996;
        margin-right: 5px;
      }

      .company-view-edit_date-num {
        font-size: 16px;
        font-weight: bold;
        color: #646057;
      }
    }
  }

  .company-view-left {
    width: 810px;
    float: left;

    .company-view-photo_block {
      width: 262px;
      height: 305px;
      float: left;
      margin: 0 35px 10px 0;
      position: relative;
      z-index: 1;

      .company-view-photo_block__logo {
        width: inherit;
        height: 222px;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;

        .company-view-photo_block__logo-helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        img {
          vertical-align: middle;
        }
      }

      .company-view-photo_block__gallery {
        width: inherit;
        height: 73px;
        overflow: hidden;

        .company-view-photo_block__gallery-wrapper {
          width: 1000px;
          height: inherit;
          .transition(.5s, ease);
          .translateX(0);

          .company-view-photo_block__gallery-item {
            width: 80px;
            height: inherit;
            display: inline-block;
            vertical-align: top;
            margin-right: 11px;
            cursor: pointer;
            &:nth-of-type(3n) {margin-right: 0;}

            img {
              &:nth-of-type(1) {
                width: 100%;
                height: 100%;
              }

              &:nth-of-type(2) {
                display: none;
              }
            }
          }
        }
      }

      .company-view-photo_block__dots {
        text-align: center;

        .company-view-photo_block__dots-dot {
          width: 10px;
          height: 10px;
          background: #8E8E8E;
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          margin: 0 1px;

          &:hover, &.active {
            background: #585858;
          }
        }
      }
    }

    .company-view-info_block {
      padding-left: 297px;
      position: relative;

      .company-view-info_block-name {
        font-size: 18px;
        font-weight: bold;
        color: #252525;
        margin-bottom: 17px;
      }

      .company-view-info_block-description {

        .company-view-info_block-description__short {
          height: 75px;
          max-height: 75px;
          overflow: hidden;
          font-family: "Open Sans";
          font-size: 13px;
          color: #6a6868;
          margin-bottom: 30px;
        }

        .company-view-info_block-description__full {
          height: auto;
          max-height: 100%;
          overflow: hidden;
          font-family: "Open Sans";
          font-size: 13px;
          color: #6a6868;
          margin-bottom: 30px;
          display: none;
        }

        &.more {
          .company-view-info_block-description__short {
            display: none;
          }

          .company-view-info_block-description__full {
            display: block;
          }
        }
      }

      .company-view-info_block-more {
        text-decoration: underline;
        cursor: pointer;
        color: #0f70b3;
        font-family: "Open Sans";
        font-size: 12px;
        text-align: right;
        margin-bottom: 20px;
      }

      .company-view-info_block-contacts {

        .company-view-info_block-contacts-title {
          width: 322px;
          height: 33px;
          font-size: 18px;
          font-weight: bold;
          color: #252525;
          display: inline-block;
          background: #f8f8f8;
          box-sizing: border-box;
          padding-top: 3px;
          border-radius: 3px;
          margin-bottom: 10px;
        }

        .company-view-info_block-contacts-item {
          margin-bottom: 5px;

          span {
            font-family: "Open Sans";
            font-size: 14px;

            a {
              font-family: "Open Sans";
            }

            &:nth-of-type(1) {
              color: #838383;
              position: relative;
              margin-left: 32px;

              &:before {
                background-image: @sprite;
                position: absolute;
                content: "";
                top: 3px;
                left: -23px;
                width: 15px;
                height: 15px;
              }
            }

            &:nth-of-type(2) {
              color: #252525;

              a {
                color: #252525;
                text-decoration: none;
              }
            }
          }

          &.phone {
            span:nth-of-type(1):before {
              background-position: -230px 0;
            }

            span:nth-of-type(2) {
              font-size: 17px;
            }
          }

          &.address {
            span:nth-of-type(1):before {
              background-position: -245px 0;
              width: 11px;
              left: -21px;
            }
          }

          &.working-time {
            display: inline-block;

            span:nth-of-type(1):before {
              background-position: -256px 0;
            }
          }

          &.weekend {
            display: inline-block;
            min-width: 160px;
          }

          &.site {
            display: inline-block;
            min-width: 100px;

            span:nth-of-type(1):before {
              background-position: -271px 0;
            }
          }

          &.social {
            width: auto;
            height: 22px;
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 30px;

            a {
              width: 22px;
              height: inherit;
              display: inline-block;
              margin-right: 10px;
              cursor: pointer;

              .company-view-info_block-contacts-item__social {
                width: inherit;
                height: inherit;
                background-image: @sprite;

                &.vk {background-position: -171px -136px;}
                &.fb {background-position: -193px -136px;}
                &.tw {background-position: -215px -136px;}
                &.inst {background-position: -171px -158px;}
                &.ok {background-position: -193px -158px;}
                &.mail {background-position: -215px -158px;}

                &:hover {
                  opacity: .6;
                }
              }
            }
          }
        }
      }
    }
  }

  .company-view-right {
    width: 268px;
    height: 240px;
    float: right;

    .company-view-right-map_block {

      #static-map {
        width: inherit;
        height: 219px;
        margin-bottom: 5px;
      }

      .company-view-right-map_block-full_link {
        width: 100%;
        text-decoration: underline;
        cursor: pointer;
        margin-right: 90px;
        color: #0f70b3;
        text-align: center;
        font-family: "Open Sans";
        font-size: 12px;
      }
    }
  }
}

.company-breadcrumbs {
  margin: 10px 0 30px 0;

  .company-breadcrumbs-item,
  .company-breadcrumbs-separator {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    color: #006ad8;
  }

  .company-breadcrumbs-item {
    font-family: "Open Sans";
    font-size: 12px;

    a {
      font-family: "Open Sans";
      color: #006ad8;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.list {
    margin: 45px 0 0 0;
  }
}

@import "ipad";