.search-result {
  height: 35px;
  padding: 0 15px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #888888;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0 ;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 7px;
}
.show-types {
  width: 203px;
  height: 33px;
  background: #f8f8f8;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
  border-radius: 3px;
  z-index: 2;
}
.show-types * {
  font-family: "Open Sans";
}
.show-types .view-type {
  display: inline-block;
  vertical-align: top;
}
.show-types .view-type .view-type-icon,
.show-types .view-type .view-type-text {
  display: inline-block;
  vertical-align: bottom;
}
.show-types .view-type .view-type-icon {
  margin-right: 6px;
}
.show-types .view-type .view-type-icon .view-type-icon-item {
  background: #b5b5b5;
  margin: 0 1px 1px 0;
  float: left;
}
.show-types .view-type .view-type-text {
  font-size: 14px;
  text-decoration: underline;
  color: #006ad8;
}
.show-types .view-type.small {
  margin-right: 16px;
}
.show-types .view-type.small .view-type-icon {
  width: 21px;
  height: 21px;
}
.show-types .view-type.small .view-type-icon .view-type-icon-item {
  width: 10px;
  height: 10px;
  display: inline-block;
}
.show-types .view-type.small .view-type-icon .view-type-icon-item:nth-of-type(2),
.show-types .view-type.small .view-type-icon .view-type-icon-item:nth-of-type(4) {
  margin-right: 0;
}
.show-types .view-type.list .view-type-icon {
  width: 4px;
  height: 21px;
}
.show-types .view-type.list .view-type-icon .view-type-icon-item {
  width: 4px;
  height: 4px;
  display: block;
}
.show-types .view-type.active,
.show-types .view-type:hover {
  cursor: pointer;
}
.show-types .view-type.active .view-type-icon .view-type-icon-item,
.show-types .view-type:hover .view-type-icon .view-type-icon-item {
  background: #2ec1ff;
}
.show-types .view-type.active .view-type-text,
.show-types .view-type:hover .view-type-text {
  text-decoration: none;
}
.companies-content {
  padding-top: 40px;
}
.companies-content .companies-block {
  display: inline-block;
  position: relative;
  width: 897px;
  margin-right: 15px;
}
.companies-content .companies-block .list-view div[data-key] {
  display: inline-block;
  float: left;
  width: 100%;
}
.companies-content .companies-block .list-view div[data-key]:nth-of-type(2n) .company-list {
  border-left: none;
}
.companies-content .companies-block .company-list {
  border-bottom: 1px solid #e4e6e8;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.companies-content .companies-block .company-list .company-list-left {
  float: left;
}
.companies-content .companies-block .company-list .company-list-left .company-list-left-image {
  width: 120px;
  height: 100px;
  border: 1px solid #e2e4e5;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 13px -9px #323232;
  -moz-box-shadow: 0px 8px 13px -9px #323232;
  box-shadow: 0px 8px 13px -9px #323232;
}
.companies-content .companies-block .company-list .company-list-left .company-list-left-image img {
  height: 100%;
}
.companies-content .companies-block .company-list .company-list-right {
  padding-left: 186px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-title {
  margin-bottom: 4px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-title a {
  font-size: 20px;
  font-weight: bold;
  color: #252525;
  text-decoration: none;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-category {
  width: 273px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-category * {
  font-family: "Open Sans";
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-category .company-list-right-category__title {
  color: #a5a5a5;
  margin-right: 2px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-category .company-list-right-category__text {
  color: #006ad8;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-category .company-list-right-category__text a {
  color: #006ad8;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-description {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px;
  color: #4d4d4d;
  margin-bottom: 17px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone__title,
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone__text,
.companies-content .companies-block .company-list .company-list-right .company-list-right-address span,
.companies-content .companies-block .company-list .company-list-right .company-list-right-time span {
  font-family: "Open Sans";
  font-size: 14px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone {
  position: relative;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone .company-list-right-phone__title,
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone .company-list-right-phone__text {
  font-family: "Open Sans";
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone .company-list-right-phone__title {
  margin: 0 3px 0 16px;
  color: #4d4d4d;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone .company-list-right-phone__text {
  color: #111111;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone .company-list-right-phone__text a {
  font-family: "Open Sans";
  color: #111;
  text-decoration: none;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-phone:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background: url("/images/sprite.png") -143px 0;
  top: 3px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-address {
  width: 499px;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  float: left;
  margin-right: 90px;
  color: #128bbe;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-address span {
  margin-left: 14px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-address:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 11px;
  background: url("/images/sprite.png") -154px 0;
  top: 6px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-address:hover {
  text-decoration: none;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-time {
  color: #4d4d4d;
  position: relative;
  display: inline-block;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-time:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background: url("/images/sprite.png") -163px 0;
  top: 7px;
}
.companies-content .companies-block .company-list .company-list-right .company-list-right-time span {
  margin-left: 16px;
}
.companies-content .companies-block.small {
  margin-right: 15px;
}
.companies-content .companies-block.small .list-view div[data-key] {
  width: auto;
}
.companies-content .companies-block.small .company-list {
  width: 448px;
  height: 172px;
  border: 1px solid #dbdbdb;
  padding: 14px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: -1px;
}
.companies-content .companies-block.small .company-list .company-list-left .company-list-left-image {
  padding: 0;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.companies-content .companies-block.small .company-list .company-list-right {
  padding-left: 159px;
}
.companies-content .companies-block.small .company-list .company-list-right .company-list-right-description {
  height: 38px;
  overflow: hidden;
}
.companies-content .companies-block.small .company-list .company-list-right .company-list-right-address {
  margin-top: -5px;
  width: 260px;
}
.companies-content .companies-block.small .company-list .company-list-right .company-list-right-time {
  position: absolute;
  left: 14px;
  bottom: 30px;
}
.companies-content .companies-block .pagination {
  display: inline-block;
  float: right;
  list-style: none;
  position: absolute;
  right: 0;
  bottom: -45px;
}
.companies-content .companies-block .pagination li {
  display: inline-block;
  text-align: center;
  margin: 0 6px;
}
.companies-content .companies-block .pagination li.active {
  position: relative;
  width: 25px;
  height: 25px;
}
.companies-content .companies-block .pagination li.active:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #2ec1ff;
  border-radius: 3px;
  left: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.companies-content .companies-block .pagination li.active a {
  color: #fff;
  position: relative;
  z-index: 1;
}
.companies-content .companies-block .pagination li.next a,
.companies-content .companies-block .pagination li.prev a,
.companies-content .companies-block .pagination li.next span,
.companies-content .companies-block .pagination li.prev span {
  width: 14px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("/images/sprite.png");
}
.companies-content .companies-block .pagination li.next a {
  background-position: -174px 0;
}
.companies-content .companies-block .pagination li.next span {
  background-position: -202px 0;
}
.companies-content .companies-block .pagination li.prev a {
  background-position: -188px 0;
}
.companies-content .companies-block .pagination li.prev span {
  background-position: -216px 0;
}
.companies-content .companies-block .pagination li a {
  color: #575757;
  text-decoration: none;
  font-size: 16px;
}
.companies-content .filter-block {
  width: 235px;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #e3e2e2;
  padding: 14px 18px;
  display: inline-block;
  vertical-align: top;
}
.companies-content .filter-block .filter-block-title {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
.companies-content .filter-block .filter-block-body {
  margin: 16px 0 0 4px;
}
.companies-content .filter-block .filter-block-body .filter-block-body-checkbox {
  margin-bottom: 5px;
}
.companies-content .filter-block .filter-block-body .filter-block-body-checkbox label {
  font-family: "Open Sans";
  font-size: 12px;
  color: #4d4d4d;
  padding: 3px 0 0 29px;
  width: 165px;
  max-width: 165px;
  display: inline-block;
}
.companies-content .filter-block .filter-block-body .filter-block-body-checkbox label:before {
  width: 16px;
  height: 16px;
}
.companies-content .filter-block .filter-block-body .filter-block-body-checkbox label:after {
  top: 3px;
  left: 5px;
}
.companies-content .filter-block .filter-block-body .filter-block-body-hidden {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.companies-content .filter-block .filter-block-body .filter-block-body-more {
  display: inline-block;
  padding: 3px 9px 0 9px;
  width: auto;
  height: 28px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #4d4d4d;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px 0 0 30px;
}
.companies-content.search {
  padding-top: 80px;
}
.companies-content.search .companies-block {
  width: 100%;
}
.companies-content.search .companies-block .company-list .company-list-right .company-list-right-address {
  width: 749px;
}
.companies-content.search .companies-block.small {
  width: 1068px;
  margin: 0 auto;
  display: block;
}
.companies-content.search .companies-block.small .company-list {
  width: 514px;
  margin-right: 40px;
}
.companies-content.search .companies-block.small .list-view div[data-key]:nth-of-type(2n) .company-list {
  border-left: 1px solid #dbdbdb;
  margin-right: 0;
}
.company-view {
  padding: 0 22px;
}
.company-view .company-view-top {
  position: relative;
}
.company-view .company-view-top .company-view-title {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  display: inline-block;
}
.company-view .company-view-top .company-view-edit_date {
  display: inline-block;
  position: absolute;
  right: 0;
}
.company-view .company-view-top .company-view-edit_date .company-view-edit_date-text,
.company-view .company-view-top .company-view-edit_date .company-view-edit_date-num {
  display: inline-block;
  vertical-align: bottom;
}
.company-view .company-view-top .company-view-edit_date .company-view-edit_date-text {
  font-size: 12px;
  font-weight: bold;
  color: #9a9996;
  margin-right: 5px;
}
.company-view .company-view-top .company-view-edit_date .company-view-edit_date-num {
  font-size: 16px;
  font-weight: bold;
  color: #646057;
}
.company-view .company-view-left {
  width: 810px;
  float: left;
}
.company-view .company-view-left .company-view-photo_block {
  width: 262px;
  height: 305px;
  float: left;
  margin: 0 35px 10px 0;
  position: relative;
  z-index: 1;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__logo {
  width: inherit;
  height: 222px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__logo .company-view-photo_block__logo-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__logo img {
  vertical-align: middle;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__gallery {
  width: inherit;
  height: 73px;
  overflow: hidden;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__gallery .company-view-photo_block__gallery-wrapper {
  width: 1000px;
  height: inherit;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__gallery .company-view-photo_block__gallery-wrapper .company-view-photo_block__gallery-item {
  width: 80px;
  height: inherit;
  display: inline-block;
  vertical-align: top;
  margin-right: 11px;
  cursor: pointer;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__gallery .company-view-photo_block__gallery-wrapper .company-view-photo_block__gallery-item:nth-of-type(3n) {
  margin-right: 0;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__gallery .company-view-photo_block__gallery-wrapper .company-view-photo_block__gallery-item img:nth-of-type(1) {
  width: 100%;
  height: 100%;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__gallery .company-view-photo_block__gallery-wrapper .company-view-photo_block__gallery-item img:nth-of-type(2) {
  display: none;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__dots {
  text-align: center;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__dots .company-view-photo_block__dots-dot {
  width: 10px;
  height: 10px;
  background: #8E8E8E;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 0 1px;
}
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__dots .company-view-photo_block__dots-dot:hover,
.company-view .company-view-left .company-view-photo_block .company-view-photo_block__dots .company-view-photo_block__dots-dot.active {
  background: #585858;
}
.company-view .company-view-left .company-view-info_block {
  padding-left: 297px;
  position: relative;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-name {
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  margin-bottom: 17px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-description .company-view-info_block-description__short {
  height: 75px;
  max-height: 75px;
  overflow: hidden;
  font-family: "Open Sans";
  font-size: 13px;
  color: #6a6868;
  margin-bottom: 30px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-description .company-view-info_block-description__full {
  height: auto;
  max-height: 100%;
  overflow: hidden;
  font-family: "Open Sans";
  font-size: 13px;
  color: #6a6868;
  margin-bottom: 30px;
  display: none;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-description.more .company-view-info_block-description__short {
  display: none;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-description.more .company-view-info_block-description__full {
  display: block;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-more {
  text-decoration: underline;
  cursor: pointer;
  color: #0f70b3;
  font-family: "Open Sans";
  font-size: 12px;
  text-align: right;
  margin-bottom: 20px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-title {
  width: 322px;
  height: 33px;
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  display: inline-block;
  background: #f8f8f8;
  box-sizing: border-box;
  padding-top: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item {
  margin-bottom: 5px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item span {
  font-family: "Open Sans";
  font-size: 14px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item span a {
  font-family: "Open Sans";
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item span:nth-of-type(1) {
  color: #838383;
  position: relative;
  margin-left: 32px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item span:nth-of-type(1):before {
  background-image: url("/images/sprite.png");
  position: absolute;
  content: "";
  top: 3px;
  left: -23px;
  width: 15px;
  height: 15px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item span:nth-of-type(2) {
  color: #252525;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item span:nth-of-type(2) a {
  color: #252525;
  text-decoration: none;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.phone span:nth-of-type(1):before {
  background-position: -230px 0;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.phone span:nth-of-type(2) {
  font-size: 17px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.address span:nth-of-type(1):before {
  background-position: -245px 0;
  width: 11px;
  left: -21px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.working-time {
  display: inline-block;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.working-time span:nth-of-type(1):before {
  background-position: -256px 0;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.weekend {
  display: inline-block;
  min-width: 160px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.site {
  display: inline-block;
  min-width: 100px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.site span:nth-of-type(1):before {
  background-position: -271px 0;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social {
  width: auto;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 30px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a {
  width: 22px;
  height: inherit;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social {
  width: inherit;
  height: inherit;
  background-image: url("/images/sprite.png");
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social.vk {
  background-position: -171px -136px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social.fb {
  background-position: -193px -136px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social.tw {
  background-position: -215px -136px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social.inst {
  background-position: -171px -158px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social.ok {
  background-position: -193px -158px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social.mail {
  background-position: -215px -158px;
}
.company-view .company-view-left .company-view-info_block .company-view-info_block-contacts .company-view-info_block-contacts-item.social a .company-view-info_block-contacts-item__social:hover {
  opacity: .6;
}
.company-view .company-view-right {
  width: 268px;
  height: 240px;
  float: right;
}
.company-view .company-view-right .company-view-right-map_block #static-map {
  width: inherit;
  height: 219px;
  margin-bottom: 5px;
}
.company-view .company-view-right .company-view-right-map_block .company-view-right-map_block-full_link {
  width: 100%;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 90px;
  color: #0f70b3;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
}
.company-breadcrumbs {
  margin: 10px 0 30px 0;
}
.company-breadcrumbs .company-breadcrumbs-item,
.company-breadcrumbs .company-breadcrumbs-separator {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  color: #006ad8;
}
.company-breadcrumbs .company-breadcrumbs-item {
  font-family: "Open Sans";
  font-size: 12px;
}
.company-breadcrumbs .company-breadcrumbs-item a {
  font-family: "Open Sans";
  color: #006ad8;
}
.company-breadcrumbs .company-breadcrumbs-item a:hover {
  text-decoration: none;
}
.company-breadcrumbs.list {
  margin: 45px 0 0 0;
}
@media screen and (max-width: 1240px) {
  header .header-content,
  footer .footer-content,
  .content {
    width: 980px;
  }
  .content .content-right {
    width: 540px;
  }
  .content .content-right .content-right-block {
    width: 540px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-name input {
    width: 203px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-short_description input {
    width: 320px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group input {
    width: 367px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item input {
    width: 40px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item:nth-of-type(4) input {
    width: 170px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item .form-group input {
    width: 36px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item:nth-of-type(2) input {
    width: 170px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-social .content-right-block-company-social__item .form-group input {
    width: 319px;
  }
  .content .companies-content .companies-block {
    width: 730px;
  }
  .content .companies-content .companies-block.small {
    width: 730px;
    margin: 0;
    margin-right: 15px;
  }
  .content .companies-content .companies-block.small .company-list {
    width: 358px;
  }
  .content .companies-content .companies-block.small .company-list .company-list-right {
    padding-left: 117px;
  }
  .content .companies-content .companies-block.small .company-list .company-list-right .company-list-right-time {
    width: 70px;
  }
  .content .companies-content .companies-block .company-list .company-list-left .company-list-left-image {
    width: 100px;
    height: 80px;
  }
  .content .companies-content .companies-block .company-list .company-list-right .company-list-right-address {
    width: 323px;
  }
  .content .companies-content .companies-block .company-list .company-list-right .company-list-right-time {
    width: 125px;
    display: inline-block;
  }
  .content .companies-content.search .companies-block.small {
    margin: 0;
    margin-right: 0;
  }
  .content .companies-content.search .companies-block.small .company-list {
    width: 470px;
  }
  .content .companies-content.search .companies-block.small .company-list .company-list-right {
    padding-left: 159px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-left .company-list-left-image {
    width: 120px;
    height: 100px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-right .company-list-right-address {
    width: 452px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-right .company-list-right-time {
    width: auto;
    display: inline-block;
  }
  header .header-under_menu .header-under_menu-triangle {
    width: 980px;
  }
  header .header-under_menu .header-under_menu-triangle:before {
    left: 42px;
  }
  header .header-under_menu .header-under_menu-back .header-under_menu-panel {
    width: 980px;
  }
}
