@ipad_width: 980px;

@media screen and (max-width: 1240px) {
  header .header-content,
  footer .footer-content,
  .content {
    width: @ipad_width;
  }

  .content {

    .content-right {
      width: 540px;

      .content-right-block {
        width: 540px;

        .content-right-block-company {
          .content-right-block-company-right {
            .form-group.field-company-name input {
              width: 203px;
            }

            .form-group.field-company-short_description input {
              width: 320px;
            }
          }

          .content-right-block-company-category {
            .form-group input {
              width: 367px;
            }
          }

          .content-right-block-company-mode {
            .content-right-block-company-mode__item {
              input {
                width: 40px;
              }

              &:nth-of-type(4) input {
                width: 170px;
              }
            }
          }

          .content-right-block-company-address {
            .content-right-block-company-address__item{
              .form-group input {
                width: 36px;
              }

              &:nth-of-type(2) input {
                width: 170px;
              }
            }
          }

          .content-right-block-company-social {
            .content-right-block-company-social__item {
              .form-group input {
                width: 319px;
              }
            }
          }
        }
      }
    }

    .companies-content {
      .companies-block {
        width: 730px;

        &.small {
          width: 730px;
          margin: 0;
          margin-right: 15px;

          .company-list {
            width: 358px;

            .company-list-right {
              padding-left: 117px;

              .company-list-right-time {
                width: 70px;
              }
            }
          }
        }

        .company-list {

          .company-list-left {

            .company-list-left-image {
              width: 100px;
              height: 80px;
            }
          }

          .company-list-right {

            .company-list-right-address {
              width: 323px;
            }

            .company-list-right-time {
              width: 125px;
              display: inline-block;
            }
          }
        }
      }

      &.search {
        .companies-block {

          &.small {
            margin: 0;
            margin-right: 0;

            .company-list {
              width: 470px;

              .company-list-right {
                padding-left: 159px;
              }
            }
          }

          .company-list {

            .company-list-left {

              .company-list-left-image {
                width: 120px;
                height: 100px;
              }
            }

            .company-list-right {

              .company-list-right-address {
                width: 452px;
              }

              .company-list-right-time {
                width: auto;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  header {

    .header-under_menu {

      .header-under_menu-triangle {
        width: @ipad_width;

        &:before {
          left: 42px;
        }
      }

      .header-under_menu-back {

        .header-under_menu-panel {
          width: @ipad_width;

          .header-under_menu-wrapper {

          }
        }
      }
    }
  }
}