@media screen and (max-width: 1240px) {
  header .header-content,
  footer .footer-content,
  .content {
    width: 980px;
  }
  .content .content-right {
    width: 540px;
  }
  .content .content-right .content-right-block {
    width: 540px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-name input {
    width: 203px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-short_description input {
    width: 320px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group input {
    width: 367px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item input {
    width: 40px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item:nth-of-type(4) input {
    width: 170px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item .form-group input {
    width: 36px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item:nth-of-type(2) input {
    width: 170px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-social .content-right-block-company-social__item .form-group input {
    width: 319px;
  }
  .content .companies-content .companies-block {
    width: 730px;
  }
  .content .companies-content .companies-block.small {
    width: 730px;
    margin: 0;
    margin-right: 15px;
  }
  .content .companies-content .companies-block.small .company-list {
    width: 358px;
  }
  .content .companies-content .companies-block.small .company-list .company-list-right {
    padding-left: 117px;
  }
  .content .companies-content .companies-block.small .company-list .company-list-right .company-list-right-time {
    width: 70px;
  }
  .content .companies-content .companies-block .company-list .company-list-left .company-list-left-image {
    width: 100px;
    height: 80px;
  }
  .content .companies-content .companies-block .company-list .company-list-right .company-list-right-address {
    width: 323px;
  }
  .content .companies-content .companies-block .company-list .company-list-right .company-list-right-time {
    width: 125px;
    display: inline-block;
  }
  .content .companies-content.search .companies-block.small {
    margin: 0;
    margin-right: 0;
  }
  .content .companies-content.search .companies-block.small .company-list {
    width: 470px;
  }
  .content .companies-content.search .companies-block.small .company-list .company-list-right {
    padding-left: 159px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-left .company-list-left-image {
    width: 120px;
    height: 100px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-right .company-list-right-address {
    width: 452px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-right .company-list-right-time {
    width: auto;
    display: inline-block;
  }
  header .header-under_menu .header-under_menu-triangle {
    width: 980px;
  }
  header .header-under_menu .header-under_menu-triangle:before {
    left: 42px;
  }
  header .header-under_menu .header-under_menu-back .header-under_menu-panel {
    width: 980px;
  }
}
