.content .content-title {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  line-height: 17px;
  margin-bottom: 55px;
  padding-top: 55px;
}
.content .content-left,
.content .content-right {
  display: inline-block;
  vertical-align: top;
}
.content .content-left {
  margin-right: 88px;
}
.content .content-left .content-left-menu {
  width: 269px;
  height: 302px;
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  position: relative;
  border-right: 0;
}
.content .content-left .content-left-menu a {
  width: inherit - 1;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  display: block;
  font-family: "Open Sans";
  font-size: 14px;
  color: #006ad8;
  padding: 17px 55px;
  background: #fff;
}
.content .content-left .content-left-menu a:last-of-type {
  border-bottom: 0;
}
.content .content-left .content-left-menu a:after {
  content: '';
  position: absolute;
  background-image: url("/images/sprite.png");
  height: 51px;
  background-position: -90px -180px;
  width: 25px;
  display: none;
  margin: -37px 0 0 -1px;
  right: -25px;
}
.content .content-left .content-left-menu a.active,
.content .content-left .content-left-menu a:hover {
  background: #2ec1ff;
  color: #fff;
  border-right: 0;
}
.content .content-left .content-left-menu a.active:after,
.content .content-left .content-left-menu a:hover:after {
  display: block;
}
.content .content-right {
  width: 628px;
  min-height: 622px;
  box-sizing: border-box;
  position: relative;
}
.content .content-right * {
  font-family: "Open Sans";
}
.content .content-right .content-right-title {
  position: absolute;
  top: -45px;
  left: 25px;
  font-size: 17px;
  font-weight: bold;
  color: #252525;
}
.content .content-right .button-right {
  position: absolute;
  right: 0;
  top: -40px;
}
.content .content-right input[type="text"],
.content .content-right input[type="password"],
.content .content-right textarea {
  height: 23px;
  box-sizing: border-box;
  border: 1px solid #e3e2e2;
  padding: 0 5px;
}
.content .content-right input[type="text"].small,
.content .content-right input[type="password"].small,
.content .content-right textarea.small {
  width: 147px;
}
.content .content-right textarea {
  height: 50px;
}
.content .content-right .content-right-block {
  width: 628px;
  position: relative;
  padding: 32px;
  border: 1px solid #c9c9c9;
  float: left;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.content .content-right .content-right-block:last-of-type {
  margin-bottom: 0;
}
.content .content-right .content-right-block.p20 {
  padding: 20px;
  position: relative;
  margin-bottom: 38px;
  min-height: 140px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-left,
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right {
  display: inline-block;
  vertical-align: top;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-left .content-right-block-user-left-photo {
  margin-right: 34px;
  width: 155px;
  text-align: center;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-left .content-right-block-user-left-photo .field-user-avatar {
  display: none;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-left .content-right-block-user-left-photo .content-right-block-user-left-photo__upload {
  font-size: 12px;
  color: #006ad8;
  text-decoration: underline;
  text-align: center;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-left .content-right-block-user-left-photo .content-right-block-user-left-photo__upload:hover {
  cursor: pointer;
  text-decoration: none;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right {
  font-size: 14px;
  margin-bottom: 26px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right label {
  font-size: 15px;
  font-weight: bold;
  color: #252525;
  margin-bottom: 10px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right .content-right-block-user-right__text {
  display: block;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right .content-right-block-user-right__input {
  display: none;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right .content-right-block-user-right-name {
  margin-bottom: 16px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right .content-right-block-user-right-name label {
  font-size: 17px;
  font-weight: normal;
  color: #252525;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right .content-right-block-user-right-phone {
  margin-bottom: 25px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right input[type="submit"] {
  position: absolute;
  top: 32px;
  right: 32px;
  display: none;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right.active .content-right-block-user-right__text {
  display: none;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right.active .content-right-block-user-right__input {
  display: block;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-right.active input[type="submit"] {
  display: block;
}
.content .content-right .content-right-block .content-right-block-user hr {
  position: absolute;
  width: 100%;
  left: 0;
  border: 0;
  height: 1px;
  background: #c9c9c9;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings {
  width: 322px;
  margin-top: 45px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings .content-right-block-user-settings-title {
  font-size: 17px;
  font-weight: bold;
  color: #252525;
  margin-bottom: 10px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings .content-right-block-user-settings-block {
  margin-bottom: 8px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings .content-right-block-user-settings-block:last-of-type {
  margin-bottom: 0;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings .content-right-block-user-settings-block label {
  width: 155px;
  display: inline-block;
  text-align: right;
  margin-right: 15px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings .form-group {
  margin-bottom: 5px;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings .form-group:last-of-type {
  margin-bottom: 0;
}
.content .content-right .content-right-block .content-right-block-user .content-right-block-user-settings .button-save {
  margin-top: 22px;
  float: right;
  margin-right: 10px;
}
.content .content-right .content-right-block .content-right-block-company .form-group.has-error input {
  border: 1px solid #f00;
}
.content .content-right .content-right-block .content-right-block-company .form-group.has-error textarea {
  border: 1px solid #f00;
}
.content .content-right .content-right-block .content-right-block-company .form-group.has-error .help-block {
  font-size: 14px;
  color: #f00;
}
.content .content-right .content-right-block .content-right-block-company .form-group.field-company-house.has-error .help-block {
  position: absolute;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-hint {
  font-size: 14px;
  color: #ada9a9;
  margin-bottom: 30px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-logo {
  margin-right: 34px;
  width: 120px;
  float: left;
  text-align: center;
  margin-bottom: 20px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-logo img {
  width: inherit;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-logo .form-group.field-company-logo {
  display: none;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-logo .content-right-block-company-logo__upload {
  font-size: 12px;
  color: #006ad8;
  text-decoration: underline;
  text-align: center;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-logo .content-right-block-company-logo__upload:hover {
  cursor: pointer;
  text-decoration: none;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-label {
  font-size: 14px;
  color: #252525;
}
.content .content-right .content-right-block .content-right-block-company input[type="text"] {
  width: 240px;
  height: 30px;
}
.content .content-right .content-right-block .content-right-block-company input[type="text"]::-webkit-input-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company input[type="text"]:-moz-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company input[type="text"]::-moz-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company input[type="text"]:-ms-input-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company textarea {
  height: 64px;
  width: 100%;
  padding: 5px;
}
.content .content-right .content-right-block .content-right-block-company textarea::-webkit-input-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company textarea:-moz-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company textarea::-moz-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company textarea:-ms-input-placeholder {
  font-style: italic;
}
.content .content-right .content-right-block .content-right-block-company .form-group {
  margin-bottom: 15px;
}
.content .content-right .content-right-block .content-right-block-company .form-group.field-company-short_description input {
  width: 400px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-label {
  margin-bottom: 5px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-type_id,
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-name {
  display: inline-block;
  vertical-align: top;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-name {
  margin-left: 22px;
  width: 284px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-name input {
  width: 100%;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-left {
  float: left;
  margin-bottom: 20px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group input {
  width: 448px;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group .button-ref {
  width: 107px;
  height: 30px;
  padding-top: 6px;
  display: inline-block;
  vertical-align: top;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group .content-right-block-company-category__append {
  width: 129px;
  height: 30px;
  background: #e8e8e8;
  font-size: 12px;
  color: #716a6a;
  text-align: center;
  line-height: 30px;
  margin-top: 13px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group .content-right-block-company-category__append:hover {
  cursor: pointer;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group .rubric {
  width: 105%;
  margin-bottom: 10px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group .rubric .rubric-remove {
  width: 20px;
  height: 8px;
  position: absolute;
  margin-top: 10px;
  margin-left: 9px;
  vertical-align: top;
  background: #f00;
  display: none;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group .rubric .rubric-remove:hover {
  cursor: pointer;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group .rubric:hover .rubric-remove {
  display: inline-block;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode {
  margin: 20px 0;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item {
  display: inline-block;
  vertical-align: top;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item span {
  font-size: 14px;
  color: #252525;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item input {
  display: inline-block;
  vertical-align: top;
  width: 61px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item .button-ref {
  width: 68px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item:nth-of-type(4) input {
  width: 211px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery {
  margin-bottom: 15px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-controls input[type="text"] {
  width: 114px;
  height: 33px;
  margin-right: -4px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-controls .button-ref {
  width: 107px;
  height: 33px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-controls #company-gallery_image {
  display: none;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-controls .content-right-block-company-gallery__item-controls-error {
  color: #f00;
  font-size: 12px;
  margin-top: 10px;
  display: none;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-controls .content-right-block-company-gallery__item-controls-error.active {
  display: block;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-load {
  margin-top: 10px;
  display: none;
  text-align: center;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-previews {
  margin-top: 25px;
  height: auto;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-previews article {
  position: relative;
  width: 66px;
  height: 66px;
  display: inline-block;
  margin: 0 20px 20px 0;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-previews article span {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ea2d3f;
  border-radius: 50%;
  top: -9px;
  right: -9px;
  cursor: pointer;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-previews article span:after {
  position: absolute;
  content: "\2716";
  width: 10px;
  height: 10px;
  color: #fff;
  left: 4px;
  top: -1px;
  font-size: 14px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-gallery .content-right-block-company-gallery__item .content-right-block-company-gallery__item-previews article img {
  width: inherit;
  height: inherit;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item:last-of-type {
  margin-right: 0;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item .form-group input {
  width: 54px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item:nth-of-type(2) input {
  width: 228px;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-social .content-right-block-company-social__item .form-group {
  display: inline-block;
  vertical-align: top;
}
.content .content-right .content-right-block .content-right-block-company .content-right-block-company-social .content-right-block-company-social__item .form-group input {
  margin-left: 20px;
  width: 400px;
}
.content .content-right .content-right-block.active {
  display: block;
}
.content .content-right .content-right-block .company .company-left {
  width: 95px;
  margin-right: 20px;
  float: left;
}
.content .content-right .content-right-block .company .company-left img {
  width: 100%;
}
.content .content-right .content-right-block .company .company-right .company-right-link {
  margin-bottom: 10px;
}
.content .content-right .content-right-block .company .company-right .company-right-link a {
  font-size: 14px;
  color: #3f8fe2;
}
.content .content-right .content-right-block .company .company-right .company-right-short-description {
  font-size: 12px;
  color: #7b7b7b;
  padding-right: 150px;
}
.content .content-right .content-right-block .company .company-right .company-right-checked {
  position: absolute;
  right: 20px;
  top: 20px;
}
.content .content-right .content-right-block .company .company-right .company-right-checked .company-right-checked-icon {
  width: 29px;
  height: 30px;
  background: url("/images/sprite.png");
  position: absolute;
  right: 0;
}
.content .content-right .content-right-block .company .company-right .company-right-checked .company-right-checked-text {
  font-size: 10px;
  position: absolute;
  top: 33px;
  right: 0;
}
.content .content-right .content-right-block .company .company-right .company-right-checked.true .company-right-checked-icon {
  background-position: -113px -136px;
}
.content .content-right .content-right-block .company .company-right .company-right-checked.true .company-right-checked-text {
  color: #9abf13;
}
.content .content-right .content-right-block .company .company-right .company-right-checked.false .company-right-checked-icon {
  background-position: -142px -136px;
}
.content .content-right .content-right-block .company .company-right .company-right-checked.false .company-right-checked-text {
  color: #f3d405;
  width: 62px;
}
.content .content-right .content-right-block .company .company-right .company-right-update {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.modal#category input {
  width: 250px;
  height: 30px !important;
  margin-bottom: 10px;
}
.modal#category .categories {
  display: none;
}
.modal#category .categories .category {
  display: block;
  text-decoration: none;
  width: 250px;
  height: 30px;
  color: #fff;
  background: #2ec1ff;
  font-size: 14px;
  box-sizing: border-box;
  padding-top: 6px;
  margin-bottom: 2px;
}
.modal#category .categories .category:hover {
  background: #64ccff;
  cursor: pointer;
}
.modal#category .categories .back {
  font-size: 12px;
  color: #006ad8;
  text-decoration: underline;
  text-align: left;
}
.modal#category .categories .back:hover {
  cursor: pointer;
}
.modal#category .categories.active {
  display: block;
}
.modal#working-days .working-days-block {
  width: 288px;
  height: 95px;
  background: #efefef;
}
.modal#working-days .working-days-block .working-days-block-day {
  display: inline-block;
  margin-left: -10px;
  margin-top: 20px;
}
.modal#working-days .working-days-block .working-days-block-day:first-of-type {
  margin-left: -25px;
}
.modal#working-days .working-days-block .working-days-block-day label {
  font-size: 18px;
}
.modal#working-days .working-days-block .working-days-block-day label:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #a1a1a1;
}
.modal#working-days .working-days-block .working-days-block-day label:after {
  top: 24px;
  left: 27px;
}
@media screen and (max-width: 1240px) {
  header .header-content,
  footer .footer-content,
  .content {
    width: 980px;
  }
  .content .content-right {
    width: 540px;
  }
  .content .content-right .content-right-block {
    width: 540px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-name input {
    width: 203px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-right .form-group.field-company-short_description input {
    width: 320px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-category .form-group input {
    width: 367px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item input {
    width: 40px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-mode .content-right-block-company-mode__item:nth-of-type(4) input {
    width: 170px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item .form-group input {
    width: 36px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-address .content-right-block-company-address__item:nth-of-type(2) input {
    width: 170px;
  }
  .content .content-right .content-right-block .content-right-block-company .content-right-block-company-social .content-right-block-company-social__item .form-group input {
    width: 319px;
  }
  .content .companies-content .companies-block {
    width: 730px;
  }
  .content .companies-content .companies-block.small {
    width: 730px;
    margin: 0;
    margin-right: 15px;
  }
  .content .companies-content .companies-block.small .company-list {
    width: 358px;
  }
  .content .companies-content .companies-block.small .company-list .company-list-right {
    padding-left: 117px;
  }
  .content .companies-content .companies-block.small .company-list .company-list-right .company-list-right-time {
    width: 70px;
  }
  .content .companies-content .companies-block .company-list .company-list-left .company-list-left-image {
    width: 100px;
    height: 80px;
  }
  .content .companies-content .companies-block .company-list .company-list-right .company-list-right-address {
    width: 323px;
  }
  .content .companies-content .companies-block .company-list .company-list-right .company-list-right-time {
    width: 125px;
    display: inline-block;
  }
  .content .companies-content.search .companies-block.small {
    margin: 0;
    margin-right: 0;
  }
  .content .companies-content.search .companies-block.small .company-list {
    width: 470px;
  }
  .content .companies-content.search .companies-block.small .company-list .company-list-right {
    padding-left: 159px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-left .company-list-left-image {
    width: 120px;
    height: 100px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-right .company-list-right-address {
    width: 452px;
  }
  .content .companies-content.search .companies-block .company-list .company-list-right .company-list-right-time {
    width: auto;
    display: inline-block;
  }
  header .header-under_menu .header-under_menu-triangle {
    width: 980px;
  }
  header .header-under_menu .header-under_menu-triangle:before {
    left: 42px;
  }
  header .header-under_menu .header-under_menu-back .header-under_menu-panel {
    width: 980px;
  }
}
