@import "../functions";
@import "../global_enum";

.content {

  .content-title {
    font-size: 22px;
    font-weight: 700;
    color: #252525;
    line-height: 17px;
    margin-bottom: 55px;
    padding-top: 55px;
  }

  .content-left, .content-right {
    display: inline-block;
    vertical-align: top;
  }

  .content-left {
    margin-right: 88px;

    .content-left-menu {
      width: 269px;
      height: 302px;
      box-sizing: border-box;
      border: 1px solid #c9c9c9;
      position: relative;
      border-right: 0;

      a {
        width: inherit - 1;
        height: 50px;
        box-sizing: border-box;
        border-bottom: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;
        display: block;
        &:last-of-type{border-bottom: 0;}
        font-family: "Open Sans";
        font-size: 14px;
        color: #006ad8;
        padding: 17px 55px;
        background: #fff;

        &:after {
          content: '';
          position: absolute;
          background-image: @sprite;
          height: 51px;
          background-position: -90px -180px;
          width: 25px;
          display: none;
          margin: -37px 0 0 -1px;
          right: -25px;
        }

        &.active, &:hover {
          background: #2ec1ff;
          color: #fff;
          border-right: 0;

          &:after {
            display: block;
          }
        }
      }
    }
  }

  .content-right {
    width: 628px;
    min-height: 622px;
    box-sizing: border-box;
    position: relative;
    * {font-family: "Open Sans";}

    .content-right-title {
      position: absolute;
      top: -45px;
      left: 25px;
      font-size: 17px;
      font-weight: bold;
      color: #252525;
    }

    .button-right {
      position: absolute;
      right: 0;
      top: -40px;
    }

    input[type="text"],
    input[type="password"],
    textarea {
      height: 23px;
      box-sizing: border-box;
      border: 1px solid #e3e2e2;
      padding: 0 5px;

      &.small {
        width: 147px;
      }
    }

    textarea {
      height: 50px;
    }

    .content-right-block {
      width: 628px;
      position: relative;
      padding: 32px;
      border: 1px solid #c9c9c9;
      float: left;
      box-sizing: border-box;
      margin-bottom: 50px;
      &:last-of-type {margin-bottom: 0;}

      &.p20 {
        padding: 20px;
        position: relative;
        margin-bottom: 38px;
        min-height: 140px;
      }

      .content-right-block-user {

        .content-right-block-user-left,
        .content-right-block-user-right {
          display: inline-block;
          vertical-align: top;
        }

        .content-right-block-user-left {

          .content-right-block-user-left-photo {
            margin-right: 34px;
            width: 155px;
            text-align: center;

            .field-user-avatar {
              display: none;
            }

            .content-right-block-user-left-photo__upload {
              font-size: 12px;
              color: #006ad8;
              text-decoration: underline;
              text-align: center;

              &:hover {
                cursor: pointer;
                text-decoration: none;
              }
            }
          }
        }

        .content-right-block-user-right {
          font-size: 14px;
          margin-bottom: 26px;

          label {
            font-size: 15px;
            font-weight: bold;
            color: #252525;
            margin-bottom: 10px;
          }

          .content-right-block-user-right__text {
            display: block;
          }

          .content-right-block-user-right__input {
            display: none;
          }

          .content-right-block-user-right-name {
            margin-bottom: 16px;

            label {
              font-size: 17px;
              font-weight: normal;
              color: #252525;
            }
          }

          .content-right-block-user-right-phone {
            margin-bottom: 25px;

          }

          .content-right-block-user-right-email {

          }

          input[type="submit"] {
            position: absolute;
            top: 32px;
            right: 32px;
            display: none;
          }

          &.active {
            .content-right-block-user-right__text {
              display: none;
            }

            .content-right-block-user-right__input {
              display: block;
            }

            input[type="submit"] {
              display: block;
            }
          }
        }

        hr {
          position: absolute;
          width: 100%;
          left: 0;
          border: 0;
          height: 1px;
          background: #c9c9c9;
        }

        .content-right-block-user-settings {
          width: 322px;
          margin-top: 45px;

          .content-right-block-user-settings-title {
            font-size: 17px;
            font-weight: bold;
            color: #252525;
            margin-bottom: 10px;
          }

          .content-right-block-user-settings-block {
            margin-bottom: 8px;
            &:last-of-type{margin-bottom: 0;}

            label {
              width: 155px;
              display: inline-block;
              text-align: right;
              margin-right: 15px;
            }
          }

          .form-group {
            margin-bottom: 5px;
            &:last-of-type {margin-bottom: 0;}
          }

          .button-save {
            margin-top: 22px;
            float: right;
            margin-right: 10px;
          }
        }
      }

      .content-right-block-company {

        .form-group {

          &.has-error {
            input {
              border: 1px solid #f00;
            }

            textarea {
              border: 1px solid #f00;
            }

            .help-block {
              font-size: 14px;
              color: #f00;
            }
          }

          &.field-company-house {

            &.has-error {
              .help-block {
                position: absolute;
              }
            }
          }
        }

        .content-right-block-company-hint {
          font-size: 14px;
          color: #ada9a9;
          margin-bottom: 30px;
        }

        .content-right-block-company-logo {
          margin-right: 34px;
          width: 120px;
          float: left;
          text-align: center;
          margin-bottom: 20px;

          img {
            width: inherit;
          }

          .form-group.field-company-logo {
            display: none;
          }

          .content-right-block-company-logo__upload {
            font-size: 12px;
            color: #006ad8;
            text-decoration: underline;
            text-align: center;

            &:hover {
              cursor: pointer;
              text-decoration: none;
            }
          }
        }

        .content-right-block-company-label {
          font-size: 14px;
          color: #252525;
        }

        input[type="text"] {
          width: 240px;
          height: 30px;

          &::-webkit-input-placeholder {font-style: italic;}
          &:-moz-placeholder {font-style: italic;}
          &::-moz-placeholder {font-style: italic;}
          &:-ms-input-placeholder {font-style: italic;}
        }

        textarea {
          height: 64px;
          width: 100%;
          padding: 5px;

          &::-webkit-input-placeholder {font-style: italic;}
          &:-moz-placeholder {font-style: italic;}
          &::-moz-placeholder {font-style: italic;}
          &:-ms-input-placeholder {font-style: italic;}
        }

        .form-group {
          margin-bottom: 15px;

          &.field-company-short_description {
            input {
              width: 400px;
            }
          }
        }

        .content-right-block-company-label {
          margin-bottom: 5px;
        }

        .content-right-block-company-right {

          .form-group.field-company-type_id,
          .form-group.field-company-name {
            display: inline-block;
            vertical-align: top;
          }

          .form-group.field-company-name {
            margin-left: 22px;
            width: 284px;

            input {
              width: 100%;
            }
          }
        }

        .content-right-block-company-left {
          float: left;
          margin-bottom: 20px;
        }

        .content-right-block-company-category {

          .form-group {

            input {
              width: 448px;
              display: inline-block;
              vertical-align: top;
              float: left;
            }

            .button-ref {
              width: 107px;
              height: 30px;
              padding-top: 6px;
              display: inline-block;
              vertical-align: top;
            }

            .content-right-block-company-category__append {
              width: 129px;
              height: 30px;
              background: #e8e8e8;
              font-size: 12px;
              color: #716a6a;
              text-align: center;
              line-height: 30px;
              margin-top: 13px;

              &:hover {
                cursor: pointer;
              }
            }

            .rubric {
              width: 105%;
              margin-bottom: 10px;

              .rubric-remove {
                width: 20px;
                height: 8px;
                position: absolute;
                margin-top: 10px;
                margin-left: 9px;
                vertical-align: top;
                background: #f00;
                display: none;

                &:hover {
                  cursor: pointer;
                }
              }

              &:hover {
                .rubric-remove {
                  display: inline-block;
                }
              }
            }
          }
        }

        .content-right-block-company-mode {
          margin: 20px 0;

          .content-right-block-company-mode__item {
            display: inline-block;
            vertical-align: top;

            span {
              font-size: 14px;
              color: #252525;
              margin: 0 8px;
              display: inline-block;
              vertical-align: middle;
            }

            input {
              display: inline-block;
              vertical-align: top;
              width: 61px;
            }

            .button-ref {
              width: 68px;
              height: 30px;
              display: inline-block;
              vertical-align: top;
            }

            &:nth-of-type(4) {
              input {
                width: 211px;
              }
            }
          }
        }

        .content-right-block-company-gallery {
          margin-bottom: 15px;

          .content-right-block-company-gallery__item {

            .content-right-block-company-gallery__item-controls {
              input[type="text"] {
                width: 114px;
                height: 33px;
                margin-right: -4px;
              }

              .button-ref {
                width: 107px;
                height: 33px;
              }

              #company-gallery_image {
                display: none;
              }

              .content-right-block-company-gallery__item-controls-error {
                color: #f00;
                font-size: 12px;
                margin-top: 10px;
                display: none;

                &.active {
                  display: block;
                }
              }
            }

            .content-right-block-company-gallery__item-load {
              margin-top: 10px;
              display: none;
              text-align: center;
            }

            .content-right-block-company-gallery__item-previews {
              margin-top: 25px;
              height: auto;

              article {
                position: relative;
                width: 66px;
                height: 66px;
                display: inline-block;
                margin: 0 20px 20px 0;

                span {
                  position: absolute;
                  width: 18px;
                  height: 18px;
                  background: #ea2d3f;
                  border-radius: 50%;
                  top: -9px;
                  right: -9px;
                  cursor: pointer;

                  &:after {
                    position: absolute;
                    content: "\2716";
                    width: 10px;
                    height: 10px;
                    color: #fff;
                    left: 4px;
                    top: -1px;
                    font-size: 14px;
                  }
                }

                img {
                  width: inherit;
                  height: inherit;
                }
              }
            }
          }
        }

        .content-right-block-company-address {

          .content-right-block-company-address__item {
            display: inline-block;
            vertical-align: top;
            margin-right: 18px;
            &:last-of-type {margin-right: 0;}

            .form-group {

              input {
                width: 54px;
              }
            }

            &:nth-of-type(2) {
              input {
                width: 228px;
              }
            }
          }
        }

        .content-right-block-company-social {

          .content-right-block-company-social__item {

            .form-group {
              display: inline-block;
              vertical-align: top;

              input {
                margin-left: 20px;
                width: 400px;
              }
            }
          }
        }
      }

      &.active {
        display: block;
      }

      .company {

        .company-left {
          width: 95px;
          margin-right: 20px;
          float: left;

          img {
            width: 100%;
          }
        }

        .company-right {

          .company-right-link {
            margin-bottom: 10px;

            a {
              font-size: 14px;
              color: #3f8fe2;
            }
          }

          .company-right-short-description {
            font-size: 12px;
            color: #7b7b7b;
            padding-right: 150px;
          }

          .company-right-checked {
            position: absolute;
            right: 20px;
            top: 20px;

            .company-right-checked-icon {
              width: 29px;
              height: 30px;
              background: @sprite;
              position: absolute;
              right: 0;
            }

            .company-right-checked-text {
              font-size: 10px;
              position: absolute;
              top: 33px;
              right: 0;
            }

            &.true {
              .company-right-checked-icon {
                background-position: -113px -136px;
              }

              .company-right-checked-text {
                color: #9abf13;
              }
            }

            &.false {
              .company-right-checked-icon {
                background-position: -142px -136px;
              }

              .company-right-checked-text {
                color: #f3d405;
                width: 62px;
              }
            }
          }

          .company-right-update {
            position: absolute;
            right: 20px;
            bottom: 20px;
          }
        }
      }
    }
  }
}

.modal {

  &#category {
    input {
      width: 250px;
      height: 30px !important;
      margin-bottom: 10px;
    }

    .categories {
      display: none;

      .category {
        display: block;
        text-decoration: none;
        width: 250px;
        height: 30px;
        color: #fff;
        background: #2ec1ff;
        font-size: 14px;
        box-sizing: border-box;
        padding-top: 6px;
        margin-bottom: 2px;

        &:hover {
          background: #64ccff;
          cursor: pointer;
        }
      }

      .back {
        font-size: 12px;
        color: #006ad8;
        text-decoration: underline;
        text-align: left;

        &:hover {
          cursor: pointer;
        }
      }

      &.active {
        display: block;
      }
    }
  }

  &#working-days {
    .working-days-block {
      width: 288px;
      height: 95px;
      background: #efefef;

      .working-days-block-day {
        display: inline-block;
        margin-left: -10px;
        margin-top: 20px;
        &:first-of-type {margin-left: -25px;}

        label {
          font-size: 18px;

          &:before {
            content: "";
            position: absolute;
            top: 25px;
            left: 22px;
            width: 22px;
            height: 22px;
            background: #fff;
            border: 1px solid #a1a1a1;
          }

          &:after {
            top: 24px;
            left: 27px;
          }
        }
      }
    }
  }
}

@import "ipad";