* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrapper {
  height: 100%;
}
.wrapper .navbar {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #e7e7e7;
}
.wrapper .left-menu {
  width: 210px;
  margin: 0 20px 10px 0;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
}
.wrapper .left-menu li a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.wrapper .content {
  padding: 0 10px 10px 10px;
  width: 100%;
  height: 100%;
  padding-left: 230px;
  position: absolute;
}
.wrapper .content .head h1 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.wrapper .content .head a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.wrapper .content .form-row.price {
  margin-bottom: 10px;
}
.wrapper .content .form-row.price label {
  display: block;
}
.wrapper .content .form-row.price input {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}
.wrapper .content .form-row.price span.accept {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: #939393;
  transition-duration: 5s;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-timing-function: cubic-bezier;
  -moz-transition-timing-function: cubic-bezier;
  -webkit-transition-timing-function: cubic-bezier;
  -o-transition-timing-function: cubic-bezier;
}
.wrapper .content .form-row.price span.accept:hover {
  cursor: pointer;
}
.wrapper .content .form-row.price span.accept.accepted {
  color: #1A9300;
}
.wrapper .content .form_back .form_block {
  display: none;
}
.wrapper .content .form_back .form_block.active {
  display: block;
}
.wrapper .content .form_back .load_block {
  display: none;
}
.wrapper .content .form_back .load_block.active {
  display: block;
}
.wrapper .content h1 {
  margin-top: 0;
}
.wrapper .content .form {
  margin-top: 20px;
}
.wrapper .content .table .admin_preview {
  width: 50%;
}
.wrapper .content .service_info_block {
  margin-bottom: 20px;
}
.wrapper .content .service_info_block .remove_service_info_block,
.wrapper .content .service_info_block .info_block {
  display: inline-block;
  vertical-align: top;
}
.wrapper .content .service_info_block .remove_service_info_block {
  opacity: .6;
  margin-right: 10px;
}
.wrapper .content .service_info_block .remove_service_info_block:hover {
  cursor: pointer;
  opacity: 1;
}
.wrapper .content .append_service_info_block:hover {
  cursor: pointer;
}
.wrapper .content .admin-rubric-block {
  display: block;
  padding-left: 20px;
  border-left: 3px solid #13a7ff;
  margin-bottom: 15px;
}
.wrapper .content .admin-rubric-block .form-control {
  margin-bottom: 5px;
}
.wrapper .content .admin-rubric-block .append-rubric {
  color: #13A7FF;
  cursor: pointer;
  display: inline-block;
}
.wrapper .content #logo-img {
  width: 120px;
}
#cke_161_uiElement {
  height: 50px !important;
}
.cke_dialog_ui_input_file {
  height: 43px !important;
}
